.date {
  color: #575757;

  font-size: calculateRem(18px);
  line-height: calculateRem(32px);
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: calculateRem(20px);
    line-height: calculateRem(40px);
  }
}
