.date-inline {
    color: $theme-date-font-color;
    font-family: $theme-date-font-family;
    display: inline;
}

.date-inline {
    color: $theme-date-font-color;
    font-family: $theme-date-font-family;
    display: block;
}