.xl-large-promo {
	color: $ui-primary-font-color;

	a {
		color: $ui-primary-font-color;
	}

	.overline {
		display: block;
		font-size: calculateRem(16px);
		line-height: calculateRem(22px);
		padding-bottom: map-get($spacers, "sm");
		text-align: center;
		width: 100%;
	}

	.xl-promo-headline {
		display: block;
		font-size: calculateRem(32px);
		font-weight: bold;
		line-height: calculateRem(36px);
		padding-bottom: map-get($spacers, "md");
		text-align: center;
		text-decoration: none;
		width: 100%;
		@include link-color-active-hover($ui-primary-font-color);

		@media screen and (min-width: map-get($grid-breakpoints, "md")) {
			font-size: calculateRem(52px);
			line-height: calculateRem(56px);
			padding-bottom: 0;
			margin-bottom: map-get($spacers, "sm");
		}
	}

	p {
		font-size: calculateRem(16px);
		line-height: calculateRem(32px);
		margin-bottom: map-get($spacers, "xs");
		margin-top: map-get($spacers, "xs");

		@media screen and (min-width: map-get($grid-breakpoints, "md")) {
			font-size: calculateRem(16px);
			line-height: calculateRem(24px);
		}
	}

	.article-meta {
		span {
			font-size: calculateRem(14px);
			line-height: calculateRem(14px);

			@media screen and (min-width: map-get($grid-breakpoints, "md")) {
				padding-top: 0;
				font-size: calculateRem(14px);
				line-height: calculateRem(16px);
			}
		}

		a {
			display: inline-block;
			padding-top: map-get($spacers, "xs");

			@media screen and (min-width: map-get($grid-breakpoints, "md")) {
				padding-top: 0;
			}
		}
	}

	.flex-col {
		display: flex;
		flex-direction: column;
	}
}

.xl-large-manual-promo {
	.description-text {
		margin-bottom: 0;
	}
}
