.xl-large-promo {
  color: #191919;

  a {
    color: #191919;
    position: relative;
  }

  a > picture > img {
    vertical-align: middle;
  }

  .overline {
    display: block;
    font-size: calculateRem(16px);
    line-height: calculateRem(22px);
    padding-bottom: map-get($spacers, 'sm');
    text-align: center;
    width: 100%;
  }

  .xl-promo-headline {
    @include link-color-active-hover(#191919);
    display: block;
    font-size: calculateRem(32px);
    font-weight: bold;
    line-height: calculateRem(36px);
    margin-bottom: map-get($spacers, 'md');
    text-align: center;
    text-decoration: none;
    width: 100%;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: calculateRem(52px);
      line-height: calculateRem(56px);
      margin-bottom: map-get($spacers, 'sm');
    }
  }

  p {
    font-size: calculateRem(16px);
    line-height: calculateRem(32px);
    margin-bottom: map-get($spacers, 'xs');
    margin-top: map-get($spacers, 'xs');

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: calculateRem(16px);
      line-height: calculateRem(24px);
    }
  }

  img {
    height: auto;
    width: 100%;
  }

  .article-meta {
    span {
      font-size: calculateRem(14px);
      line-height: calculateRem(14px);

      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: calculateRem(14px);
        line-height: calculateRem(16px);
      }
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
}

.xl-large-manual-promo {
  .description-text {
    margin-bottom: 0;
  }
}
