.large-promo {
  color: $ui-primary-font-color;

  a {
    color: $ui-primary-font-color;
  }

  .overline {
    display: inline-block;
    font-size: calculateRem(16px);
    line-height: calculateRem(24px);
    padding-top: map-get($spacers, 'xs');
    padding-bottom: map-get($spacers, 'xs');

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-top: 0;
      padding-bottom: map-get($spacers, 'sm');
      font-size: calculateRem(16px);
      line-height: calculateRem(22px);
    }
  }

  .lg-promo-headline {
    @include link-color-active-hover($ui-primary-font-color);
    font-size: calculateRem(24px);
    font-weight: bold;
    line-height: calculateRem(32px);
    margin-bottom: map-get($spacers, 'xs');
    text-decoration: none;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: calculateRem(26px);
      line-height: calculateRem(32px);
    }
  }

  p {
    font-size: calculateRem(18px);
    line-height: calculateRem(32px);
    margin-bottom: map-get($spacers, 'xs');

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: calculateRem(16px);
      line-height: calculateRem(24px);
    }
  }

  .article-meta {
    span {
      font-size: calculateRem(14px);
      line-height: calculateRem(16px);

      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: calculateRem(14px);
        line-height: calculateRem(14px);
      }
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
}
