.medium-promo {
  box-shadow: inset 0 -1px 0 0 $ui-light-gray;
  color: $ui-primary-font-color;
  @include block-margin-bottom;
  a{
    color: $ui-primary-font-color;
  }
  .med-promo-padding-bottom {
    padding-bottom: map-get($spacers, 'md');
  }
  .md-promo-headline {
    font-size: calculateRem(16px);
    line-height: calculateRem(24px);
    @include link-color-active-hover($ui-primary-font-color);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: map-get($spacers, 'xxs');

    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
      font-size: calculateRem(24px);
      line-height: calculateRem(34px);
    }
  }

  p{
    font-size: calculateRem(18px);
    line-height: calculateRem(32px);
    margin-bottom: map-get($spacers, 'xxs');

    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
      font-size: calculateRem(16px);
      line-height: calculateRem(24px);
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .article-meta {
    span, .date{
      font-size: calculateRem(14px);
      line-height: calculateRem(16px);

      @media screen and (min-width: map-get($grid-breakpoints, 'md')){
        font-size: calculateRem(14px);
        line-height: calculateRem(14px);
      }
    }
    .dot-separator {
      display: inline-block;
      font-size: calculateRem(14px);
      line-height: calculateRem(16px);
      @media screen and (min-width: map-get($grid-breakpoints, 'md')){
        font-size: calculateRem(14px);
        line-height: calculateRem(14px);
      }
      color: $ui-primary-font-color;
      margin: 0 map-get($spacers, 'xs');
      position: relative;
      top: calculateRem(-2px);
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
}
