.medium-promo {
	color: $ui-primary-font-color;

	a {
		color: $ui-primary-font-color;
		text-decoration: none;
	}

	.md-promo-headline {
		display: block;
		margin-bottom: map-get($spacers, "sm");
		text-decoration: none;
		@include link-color-active-hover($ui-primary-font-color);

		@media screen and (min-width: map-get($grid-breakpoints, "md")) {
			margin-bottom: map-get($spacers, "md");
		}
	}

	.md-promo-headline-text {
		display: inline-block;
		font-size: calculateRem(19px);
		font-weight: bold;
		line-height: calculateRem(24px);

		@media screen and (min-width: map-get($grid-breakpoints, "md")) {
			font-size: calculateRem(24px);
			line-height: calculateRem(34px);
		}
	}

	p {
		font-size: calculateRem(18px);
		line-height: calculateRem(32px);
		margin-bottom: map-get($spacers, "xxs");

		@media screen and (min-width: map-get($grid-breakpoints, "md")) {
			font-size: calculateRem(16px);
			line-height: calculateRem(24px);
		}
	}

	.image-link {
		float: right;
		@media screen and (min-width: map-get($grid-breakpoints, "md")) {
			float: left;
			max-width: calc(35%);
		}
	}

	picture img {
		@media screen and (max-width: map-get($grid-breakpoints, "md")) {
			max-width: 100px;
		}
	}

	.article-meta {
		span {
			font-size: calculateRem(14px);
			line-height: calculateRem(16px);

			@media screen and (min-width: map-get($grid-breakpoints, "md")) {
				font-size: calculateRem(14px);
				line-height: calculateRem(14px);
			}
		}
	}

	.flex-col {
		display: flex;
		flex-direction: column;
	}

	.medium-promo-wrapper {
		clear: both;
		content: "";
		display: table;
		width: 100%;
	}

	@media screen and (max-width: map-get($grid-breakpoints, "md")) {
		.promo-label {
			bottom: unset;
			left: unset;
			right: 8px;
			top: 8px;

			span {
				display: none;
			}
		}
	}

	.md-promo-image {
		.md-promo-headline {
			width: 68%;
			@media screen and (min-width: map-get($grid-breakpoints, "md")) {
				margin-left: 39%;
				width: 60%;
			}
		}

		.description-text {
			@media screen and (min-width: map-get($grid-breakpoints, "md")) {
				margin-left: 39%;
			}
		}

		.article-meta {
			@media screen and (min-width: map-get($grid-breakpoints, "md")) {
				margin-left: 39%;
			}
		}
	}
}
