@media screen and (max-width: map-get($grid-breakpoints, 'lg')) {
  .list-item {
    column-gap: 12px;
    display: grid;
    grid-template-areas:
      'headline image'
      'description description';
    grid-template-columns: 1fr minmax(0, max-content);
    grid-template-rows: auto;
    padding: map-get($spacers, 'md') 0 map-get($spacers, 'md') 0;

    .description-text {
      font-size: calculateRem(18px);
      line-height: 1.78;
      margin-bottom: map-get($spacers, 'sm');
    }

    .headline-text {
      font-size: calculateRem(19px);
      font-weight: bold;
      line-height: 1.26;
      margin-bottom: map-get($spacers, 'sm');
    }

    .results-list--author-date {
      font-size: calculateRem(14px);
      line-height: calculateRem(16px);

      .story-date {
        color: #191919;
        display: inline;
        font-size: calculateRem(14px);
        line-height: calculateRem(16px);
      }
    }

    .mobile {
      &-order {
        &-1 {
          order: 1;
        }
    
        &-2 {
          order: 2;
        }
    
        &-3 {
          order: 3;
        }
      }

      &-image {
        height: 60px;
        width: 99px;
      }
        
    }
    

  }
}
