.results-list-container {
  @include block-margin-bottom;
}

.list-item {
  box-shadow: inset 0 -1px 0 0 $ui-light-gray;
  column-gap: 12px;
  display: grid;
  grid-template-areas:
    'headline image'
    'description description';
  grid-template-columns: 1fr minmax(0, max-content);
  grid-template-rows: auto;
  padding: map-get($spacers, 'md') 0 map-get($spacers, 'md') 0;

  .description-text {
    font-size: calculateRem(18px);
    line-height: 1.78;
    margin-bottom: map-get($spacers, 'sm');
  }

  .headline-text {
    font-size: calculateRem(19px);
    font-weight: bold;
    line-height: 1.26;
    margin-bottom: map-get($spacers, 'sm');
  }

  .results-list--author-date {
    font-size: calculateRem(14px);
    line-height: calculateRem(16px);

    .story-date {
      color: $ui-primary-font-color;
      display: inline;
      font-size: calculateRem(14px);
      line-height: calculateRem(16px);
    }
  }

  a {
    @include link-color-active-hover($ui-primary-font-color);
    color: $ui-primary-font-color;
    text-decoration: none;
  }

  a,
  h2,
  p {
    color: $ui-primary-font-color;
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
  }
}

.results-list--image-container {
  grid-area: image;
  height: 60px;
  width: 99px;
}


@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  .list-item {
    column-gap: map-get($spacers, 'lg');
    grid-template-areas:
      'image headline'
      'image description';
    grid-template-columns: minmax(0, calc(35%)) 1fr;
    grid-template-rows: min-content 1fr;
    padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;

    &.no-image {
      grid-template-areas:
        'headline'
        'description';
      grid-template-columns: 1fr;
    }

    .headline-text {
      font-size: calculateRem(26px);
      font-weight: bold;
      line-height: calculateRem(32px);
      margin-bottom: map-get($spacers, 'xs');
    }

    .description-text {
      font-size: calculateRem(16px);
      line-height: calculateRem(24px);
      margin-bottom: map-get($spacers, 'xs');
    }

    .results-list--author-date {
      font-size: calculateRem(10px);
      line-height: calculateRem(16px);
    }

  }

  .results-list--image-container {
    height: auto;
    width: 100%;
  }
}

.results-list--headline-container {
  grid-area: headline;
}

.results-list--description-author-container {
  grid-area: description;
}

.see-more {
  margin-bottom: map-get($spacers, 'xl');
  margin-top: map-get($spacers, 'xl');
  text-align: center;
  display: flex;
  justify-content: center;
}
