.results-list-container {
  @include block-margin-bottom;
}

.results-list--image-container {
  grid-area: image;
}

.results-list--headline-container {
  grid-area: headline;
}

.results-list--description-author-container {
  grid-area: description;
}

.list-item {
  box-shadow: inset 0 -1px 0 0 $ui-light-gray;
  padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;

  a {
    @include link-color-active-hover($ui-primary-font-color);
    color: $ui-primary-font-color;
    text-decoration: none;

    & * {
      @include link-color-active-hover($ui-primary-font-color);
    }
  }

  a,
  h2,
  p {
    color: $ui-primary-font-color;
  }

  img {
    height: auto;
    // doesn't work on ie 11, looks like it'll stretch past natural width
    max-width: max-content;
    width: 100%;
  }

  a > picture > img {
    vertical-align: middle;
    max-width: 100%;
  }
}

.see-more {
  margin-bottom: map-get($spacers, 'xl');
  margin-top: map-get($spacers, 'xl');
  text-align: center;
  display: flex;
  justify-content: center;
}

