@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  .list-item {
    column-gap: map-get($spacers, 'lg');
    display: grid;
    grid-template-areas:
      'image headline'
      'image description';
    grid-template-columns: minmax(0, calc(35%)) 1fr;
    grid-template-rows: auto minmax(0, 1fr);

    .headline-text {
      font-size: calculateRem(26px);
      font-weight: bold;
      line-height: calculateRem(32px);
      margin-bottom: map-get($spacers, 'xs');
    }

    .description-text {
      font-size: calculateRem(16px);
      line-height: calculateRem(24px);
      margin-bottom: map-get($spacers, 'xs');
    }

    .results-list--author-date {
      display: flex;
      font-size: calculateRem(10px);
      line-height: calculateRem(16px);

      .story-date {
        color: #191919;
        display: inline;
        font-size: calculateRem(14px);
        line-height: calculateRem(16px);
      }
    }
  }
}
