@media screen and (max-width: map-get($grid-breakpoints, 'lg')) {
  .list-item {
    column-gap: 12px;
    display: grid;
    grid-template-areas:
      'headline image'
      'description description';
    grid-template-columns: 1fr minmax(0, max-content);
    grid-template-rows: auto;

    .description-text {
      font-size: calculateRem(18px);
      line-height: calculateRem(32px);
      margin-bottom: map-get($spacers, 'xs');
    }

    .headline-text {
      font-size: calculateRem(16px);
      font-weight: bold;
      line-height: calculateRem(24px);
      margin-bottom: map-get($spacers, 'xs');
    }

    .results-list--author-date {
      display: flex;
      font-size: calculateRem(14px);
      line-height: calculateRem(16px);

      .dot-separator {
        color: $ui-primary-font-color;
        display: inline-block;
        margin: 0 map-get($spacers, 'xs');
        position: relative;
        top: calculateRem(-2px);
      }

      .story-date {
        color: $ui-primary-font-color;
        display: inline;
        font-size: calculateRem(14px);
        line-height: calculateRem(16px);
      }
    }
  }
}
