.results-list-container {
  @include block-margin-bottom;
}

.results-list--image-container {
  grid-area: image;
}

.results-list--headline-container {
  grid-area: headline;
}

.results-list--description-author-container {
  grid-area: description;
}

.list-item {
  box-shadow: inset 0 -1px 0 0 #dadada;
  padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;

  a {
    @include link-color-active-hover(#191919);
    color: #191919;
    text-decoration: none;

    & * {
      @include link-color-active-hover(#191919);
    }
  }

  a,
  h2,
  p {
    color: #191919;
  }

  img {
    height: auto;
    // doesn't work on ie 11, looks like it'll stretch past natural width
    max-width: max-content;
    width: 100%;
  }

  a > picture > img {
    vertical-align: middle;
    max-width: 100%;
  }
}

.see-more {
  margin-bottom: map-get($spacers, 'xl');
  margin-top: map-get($spacers, 'xl');
  text-align: center;

  > button {
    height: 48px;
    width: 213px;
  }

  .visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

