.small-promo {

  color: $ui-primary-font-color;
  margin-top: 0;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    min-height: calculateRem(80px);
  }

  a {
    color: $ui-primary-font-color;
    position: relative;

    h2 {
      display: inline;
    }
  }

  a > picture > img {
    vertical-align: middle;
    width: 100%;
  }

  .sm-promo-headline {
    @include link-color-active-hover($ui-primary-font-color);
    font-size: calculateRem(16px);
    font-weight: normal;
    line-height: calculateRem(24px);
    margin: 0;
    padding: 0 map-get($spacers, 'xxs') 0 0;
    text-decoration: none;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 0;
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
}

.right-aligned-container {
  display: flex;
  justify-content: flex-end;
}
