.xpmedia-overline {
  color: var(--xpmedia-component-overline-text-color);
  display: inline-block;
  font-size: var(--xpmedia-component-overline-font-size);
  font-weight: var(--xpmedia-component-overline-font-weight);
  line-height: var(--xpmedia-component-overline-line-height);
  text-decoration: var(--xpmedia-component-overline-text-decoration);
}
