@media screen and (min-width: map-get($grid-breakpoints, 'lg')){
  .list-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    column-gap: map-get($spacers, 'lg');
    grid-template-areas: 
      "image headline"
      "image description";
  
      .headline-text {
        font-size: calculateRem(26px);
        font-weight: bold;
        line-height: calculateRem(32px);
        margin-bottom: map-get($spacers, 'xs');
      }
  
      .description-text {
        font-size: calculateRem(16px);
        line-height: calculateRem(24px);
        margin-bottom: map-get($spacers, 'xs');
      }
  
      .results-list--author-date {
        font-size: calculateRem(10px);
        line-height: calculateRem(16px);
        display: flex;
  
        .dot-separator {
          display: inline-block;
          color: $ui-dark-secondary-color;
          margin: 0 map-get($spacers, 'xs');
          position: relative;
          top: calculateRem(-2px);
        }
  
        .story-date {
          font-size: calculateRem(14px);
          line-height: calculateRem(16px);
          display: inline;
          color: $ui-dark-secondary-color;
        }
      }
  }
}
