.list-item {
  box-shadow: inset 0 -1px 0 0 #B8C1CB;
  padding: 11px 13px 19px 0;
  display: flex;

  .list-anchor {
    text-decoration: none;
    height: 148px;
    width: 274px;
    overflow-y: hidden;

    img, .image-placeholder {
      width: 100%;
      height: auto;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }

  .numbered-list-placeholder {
    background-color: #dfe4ea;
  }

  .headline-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30.72px;

    .headline-text, .description-text {
      color: #191919;
    }

    .headline-text {
      font-size: 26px;
      font-weight: bold;
      line-height: 32px;
      margin-bottom: 6px;
    }

    .description-text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    .author-date {
      display: flex;
      align-items: center;

      .dot-separator {
        color: #3B3B3B;
        font-family: Tahoma;
        font-size: 0.8rem;
        line-height: 14px;
        margin: 0 1rem;
      }
  
      .story-date {
        color: #3B3B3B;
        font-size: 14px;
        line-height: 14px;
      }
    }

    .nameStyles {
      color: #434343;
      font-size: 14px;
      line-height: 14px;
    }

    .byClass {
      color: #3B3B3B;
      font-size: 14px;
      line-height: 14px;
      margin-right: 4px;
    }
  }

  .headline-description-spacing {
    justify-content: flex-start;
  }
}
