.results-list-container{
  @include block-margin-bottom;
}
.results-list--image-container {
  grid-area: image;
}
.results-list--headline-container {
  grid-area: headline;
}
.results-list--description-author-container {
  grid-area: description;
}

.list-item {
  box-shadow: inset 0 -1px 0 0 $ui-light-primary-color;
  padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;

  a {
    text-decoration: none;
  }

  a, h2, p {
    color: $ui-dark-secondary-color;
  }

  img, .image-placeholder {
    width: 100%;
    height: auto;
  }
  .image-placeholder {
    min-height: calculateRem(140px);
  }
}

.see-more {
  text-align: center;
  margin-top: map-get($spacers, 'xl');
  margin-bottom: map-get($spacers, 'xl');
  > button {
    width: 213px;
    height: 48px;
  }
  .visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}
