.xpmedia-subs-login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  > a {
    @include link-color-active-hover($ui-primary-font-color);
    color: $ui-primary-font-color;
    margin-bottom: map-get($spacers, 'md');
    text-decoration: none;
    font-size: 1rem;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}
