$arrow-size: calculateRem(10px);
$border-color-dull: rgba(255, 255, 255, 0.5);
$border-color-bright: rgba(255, 255, 255, 1);
$border-width: 1px;
$btn-size: calculateRem(32px);
$nav-search-border-color: #5c6364;
$overlay-color: #2a2a2a;
$overlay-z-index: 2;
$section-bg: #3B3B3B;
$section-width: 315px;
$submenu-link-color: #7F8C8D;

body.nav-open {
  overflow-y: hidden;
}

.nav-btn {
  border: 0;
  height: $btn-size;
  outline: none;
  position: relative;
  white-space: nowrap;

  &.border {
    transition: border 100ms linear;
  }

  &.transparent {
    background-color: transparent;
  }

  &:hover {
    outline: none;
  }
}

.nav-btn-dark > span {
  color: $ui-btn-white-color;
}

.nav-btn-light > span {
  color: $ui-medium-gray;
}

.nav-btn-dark > svg > path {
  fill: $ui-btn-white-color;
}

.nav-btn-light > svg > path {
  fill: $ui-medium-gray;
}

.nav-btn-dark.border {
  border: $border-width solid $border-color-dull;

  &:hover {
    border: $border-width solid $border-color-bright;
  }
}

.nav-btn-light.border {
  border: $border-width solid $ui-light-gray;

  &:hover {
    border: $border-width solid $ui-medium-gray;
  }
}

.nav-sections-btn {
  align-items: center;
  display: flex;
  margin-left: 10px;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    margin: 0;
  }

  > span, > img {
    flex: 0;
  }

  > span {
    font-size: calculateRem(14px);
    font-weight: bold;
    padding-right: 8px;
  }
}

.nav-search {
  display: flex;
  justify-content: center;
  position: relative;

  &.open.dark {
    border: 0;
  }

  &.open.light {
    border: $border-width solid $ui-light-gray;
  }

  &.open {
    input {
      height: $btn-size;
      padding: 4px;
      padding-right: $btn-size;
      width: 200px;
    }

    button {
      border: 0;
      margin: 0;
      position: absolute;
      right: 0;
    }

    > .nav-btn-dark > svg > path {
      fill: #666;
    }
  }

  input {
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    font-size: 0.9em;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 0;
    transition: all .25s cubic-bezier(.49,.37,.45,.71);
    width: 0;
  }
}

.news-theme-navigation-chain {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;

  &.light {
    border-bottom: $border-width solid $border-rule-color;
  }

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    .nav-search, .nav-sections-btn span {
      display: none;
    }
  }

  * {
    display: flex;
  }

  button {
    border-radius: 2px;

    &:hover {
      cursor: pointer;
    }
  }

  > div {
    text-align: center;
    display: flex;
    flex: 1;
    align-items: center;

    &.nav-left {
      justify-content: flex-start;
    }

    &.nav-right {
      justify-content: flex-end;
    }

    &.nav-logo {
      flex: 2;
      justify-content: center;

      img {
        height: auto;
        max-height: 30px;
        min-width: 30px;
        width: auto;
      }
    }
  }
}

#nav-sections {
  background: $section-bg;
  bottom: 0;
  flex-direction: column;
  left: 0;
  transition: transform 300ms ease-in-out;
  width: $section-width;

  &.open {
    transform: translate(0px, 0px);
    overflow-y: scroll;
  }

  &.closed {
    transform: translate(-$section-width, 0px);
  }

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    .nav-search {
      display: none;
    }

    ul.section-menu > li a {
      padding: 12px 0;
    }
  }

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    .submenu-caret, .subsection-container {
      display: none;
    }
  }

  * {
    display: flex;
  }

  .nav-search {
    border-bottom: $border-width solid $nav-search-border-color;
    padding-bottom: 16px;
    margin: 16px 20px 0;

    input {
      flex: 1;
    }
  }

  ul.section-menu, ul.subsection-menu {
    flex: 1;
    flex-direction: column;
  }

  ul.section-menu {
    padding: 0;

    > li {
      font-size: 14px;
      font-weight: bold;
      list-style: none;
      padding: 0 20px;
      position: relative;

      a {
        align-items: center;
        color: white;
        flex: 1;
        justify-content: space-between;
        padding: 14px 0;
        text-decoration: none;

        @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
          padding: 12px 0;
        }
      }

      &:hover {
        background: darken($section-bg, 20%);

        .subsection-container {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .subsection-container {
    opacity: 0;
    position: relative;
    transition: visibility 0s, opacity 250ms step-end 200ms;
    visibility: hidden;

    .arrow-left {
      border-bottom: $arrow-size solid transparent;
      border-right: $arrow-size solid white;
      border-top: $arrow-size solid transparent;
      height: 0;
      left: -$arrow-size;
      position: absolute;
      top: 15px;
      width: 0;
      z-index: ($overlay-z-index + 2);
    }
  }

  ul.subsection-menu {
    background: white;
    border-radius: 2px;
    box-shadow: 0px 0px 20px 0 rgba(42, 42, 42, 0.5);
    left: 0;
    list-style: none;
    margin: 0;
    padding: 24px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: ($overlay-z-index + 1);

    > li {

      > a {
        color: $submenu-link-color;
        padding: 8px 0;

        &:hover {
          color: darken($submenu-link-color, 20%);
        }
      }

      &:first-of-type > a {
        padding-top: 0;
      }

      &:last-of-type > a {
        padding-bottom: 0;
      }
    }
  }
}

#overlay {
  background: $overlay-color;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $overlay-z-index;
}
