$mobile-breakpoint: 480px;
$tablet-breakpoint: 700px;

.article-body{
  font-family: $theme-article-body-font-family;
  font-size: $theme-article-body-font-size;
  line-height: $theme-article-body-line-height;
  color: $theme-article-body-color;
  margin: 1em;

  h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote, table, .correction, div, section, article{
    margin: 20px 0;
  }

  @media screen and (max-width: $mobile-breakpoint){
    font-size: $theme-article-body-font-size-mobile;
    line-height: $theme-article-body-line-height-mobile;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    font-size: $theme-article-body-font-size-tablet;
    line-height: $theme-article-body-line-height-tablet;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: $theme-primary-font-family;
    font-size: $theme-article-body-h1-font-size;
    color: $theme-article-body-h1-font-color;
    font-style: $theme-article-body-h1-font-style;
    text-decoration: $theme-article-body-h1-text-decoration;
    line-height: $theme-article-body-h1-line-height;
    text-transform: $theme-article-body-h1-text-transform;
    font-weight: $theme-article-body-h1-font-weight;


    @media screen and (max-width: $mobile-breakpoint){
      font-size: $theme-article-body-h1-font-size-mobile;
      line-height: $theme-article-body-h1-line-height-mobile;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: $theme-article-body-h1-font-size-tablet;
      line-height: $theme-article-body-h1-line-height-tablet;
    }
  }


  p{
    font-family: $theme-article-body-paragraph-font-family;
    font-size: $theme-article-body-paragraph-font-size;
    color: $theme-article-body-paragraph-font-color;
    line-height: $theme-article-body-paragraph-line-height;
    font-weight: $theme-article-body-paragraph-font-weight;

    @media screen and (max-width: $mobile-breakpoint){
      font-size: $theme-article-body-paragraph-font-size-mobile;
      line-height: $theme-article-body-paragraph-line-height-mobile;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: $theme-article-body-paragraph-font-size-tablet;
      line-height: $theme-article-body-paragraph-line-height-tablet;
    }
  }

  a{
    font-family: $theme-article-body-a-font-family;
    font-size: $theme-article-body-a-font-size;
    color: $theme-article-body-a-font-color;
    text-decoration: $theme-article-body-a-text-decoration;
    line-height: $theme-article-body-a-line-height;
    font-weight: $theme-article-body-a-font-weight;

    @media screen and (max-width: $mobile-breakpoint){
      font-size: $theme-article-body-a-font-size-mobile;
      line-height: $theme-article-body-a-line-height-mobile;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: $theme-article-body-a-font-size-tablet;
      line-height: $theme-article-body-a-line-height-tablet;
    }
    //TODO: Design needs to provide visited and hover values
    /**
    &:visited{
      color: $theme-article-body-a-visited-font-color;
      text-decoration: $theme-article-body-a-visited-text-decoration;
      line-height: $theme-article-body-a-visited-line-height;
      display: $theme-article-body-a-visited-display;
      border: $theme-article-body-a-visited-border;
      padding: $theme-article-body-a-visited-padding;
    }

    &:hover{
      color: $theme-article-body-a-hover-font-color;
      text-decoration: $theme-article-body-a-hover-text-decoration;
      line-height: $theme-article-body-a-hover-line-height;
      display: $theme-article-body-a-hover-display;
      border: $theme-article-body-a-hover-border;
      padding: $theme-article-body-a-padding-padding;
    }
    ***/
  }

  ul {
    font-family: $theme-article-body-ul-font-family;
    font-size: $theme-article-body-ul-font-size;
    list-style: $theme-article-body-ul-list-style;
    font-weight: $theme-article-body-ul-font-weight;


    @media screen and (max-width: $mobile-breakpoint){
      font-size: $theme-article-body-ul-font-size-mobile;
      line-height: $theme-article-body-ul-line-height-mobile;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: $theme-article-body-ul-font-size-tablet;
      line-height: $theme-article-body-ul-line-height-tablet;
    }
  }

  ol {
    font-family: $theme-article-body-ol-font-family;
    font-size: $theme-article-body-ol-font-size;
    list-style: $theme-article-body-ol-list-style;
    font-weight: $theme-article-body-ol-font-weight;

    @media screen and (max-width: $mobile-breakpoint){
      font-size: $theme-article-body-ol-font-size-mobile;
      line-height: $theme-article-body-ol-line-height-mobile;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: $theme-article-body-ol-font-size-tablet;
      line-height: $theme-article-body-ol-line-height-tablet;
    }
  }

  .correction {
    font-style: $theme-article-body-correction-font-style;
    color: $theme-article-body-correction-color;
    box-shadow: inset 0 -1px 0 0 #B8C1CB;
    section{
      padding-bottom: 10px;

      h3{
        text-transform: uppercase;
        font-style: italic;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: #000A12;
      }
    }
  }

  figcaption {
    font-family: $theme-article-body-figcaption-font-family;
    color: $theme-article-body-figcaption-color;
    font-size: $theme-article-body-figcaption-font-size;
    line-height: $theme-article-body-figcaption-line-height;
    font-style: $theme-article-body-figcaption-font-style;
    font-weight: $theme-article-body-figcaption-font-weight;

    @media screen and (max-width: $mobile-breakpoint){
      font-size: $theme-article-body-figcaption-font-size-mobile;
      line-height: $theme-article-body-figcaption-line-height-mobile;

    }

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: $theme-article-body-figcaption-font-size-tablet;
      line-height: $theme-article-body-figcaption-line-height-tablet;
    }
  }

  table {
    font-family: $theme-article-body-table-font-family;
    width:$theme-article-body-table-width;
    margin: $theme-article-body-table-margin;
    color: $theme-article-body-table-color;

    @media screen and (max-width: $mobile-breakpoint){
      width:$theme-article-body-table-width-mobile;
      margin: $theme-article-body-table-margin-mobile;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      width:$theme-article-body-table-width-tablet;
      margin: $theme-article-body-table-margin-tablet;
    }

    &, th, td {
      border-left: $theme-article-body-table-border-left;
      border-right: $theme-article-body-table-border-right;
      border-top: $theme-article-body-table-border-top;
      border-bottom: $theme-article-body-table-border-bottom;
      border-collapse: collapse;
    }

    th, td {
      padding: $theme-article-body-table-cell-padding;

      @media screen and (max-width: $mobile-breakpoint){
        padding: $theme-article-body-table-cell-padding-mobile;
      }

      @media screen and (max-width: $tablet-breakpoint) {
        padding: $theme-article-body-table-cell-padding-tablet;
      }
    }

    td{
      font-size: $theme-article-body-table-cell-font-size;
      font-style: $theme-article-body-table-cell-font-style;
      font-weight: $theme-article-body-table-cell-font-weight;

      @media screen and (max-width: $mobile-breakpoint){
        font-size: $theme-article-body-table-cell-font-size-mobile;
        white-space: $theme-article-body-table-cell-white-space-mobile;
      }

      @media screen and (max-width: $tablet-breakpoint) {
        font-size: $theme-article-body-table-cell-font-size-tablet;
        white-space: $theme-article-body-table-cell-white-space-tablet;
      }
    }

    th{
      font-size: $theme-article-body-table-head-font-size;
      font-style: $theme-article-body-table-head-font-style;
      font-weight: $theme-article-body-table-head-font-weight;
      white-space: $theme-article-body-table-head-white-space;

      @media screen and (max-width: $mobile-breakpoint){
        font-size: $theme-article-body-table-head-font-size-mobile;
        white-space: $theme-article-body-table-head-white-space-mobile;
      }

      @media screen and (max-width: $tablet-breakpoint) {
        font-size: $theme-article-body-table-head-font-size-tablet;
        white-space: $theme-article-body-table-head-white-space-tablet;
      }
    }
  }

  blockquote{
    padding: 20px 0;
    box-shadow: inset 0 -5px 0 0 #B8C1CB, inset 0 5px 0 0 #B8C1CB;
    text-align: center;
    font-family: $theme-article-body-blockquote-font-family;
    color: $theme-article-body-blockquote-color;
    font-size: $theme-article-body-blockquote-font-size;
    line-height: $theme-article-body-blockquote-line-height;
    font-weight: $theme-article-body-blockquote-font-weight;
    font-style: $theme-article-body-blockquote-font-style;
  }

  blockquote.pullquote{
    padding: 20px 0 20px 25px;
    box-shadow: inset 5px 0 0 0 #1F2D3D;
    text-align: left;
    font-family: $theme-article-body-pullquote-font-family;
    color: $theme-article-body-pullquote-color;
    font-size: $theme-article-body-pullquote-font-size;
    line-height: $theme-article-body-pullquote-line-height;
    font-weight: $theme-article-body-pullquote-font-weight;
    font-style: $theme-article-body-pullquote-font-style;
  }


}
