$mobile-breakpoint: 480px;
$tablet-breakpoint: 700px;

.article-body{
  color: $ui-dark-secondary-color;


  /***
    @media screen and (max-width: $mobile-breakpoint){
      font-size: 18px;
      line-height: 24px;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: 18px;
      line-height: 24px;
    }
  ***/

  p, ul, ol {
    font-size: calculateRem(20px);
    line-height: calculateRem(40px);
    letter-spacing: 0.1px;
    margin: map-get($spacers, 'sm') 0;
  }

  figure{
    margin: 0;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  ul ul, ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: map-get($spacers, 'sm');
  }
  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: map-get($spacers, 'sm');
  }

  .correction {
    margin-bottom: map-get($spacers, 'sm');
    padding: map-get($spacers, 'sm') 0;
    box-shadow: inset 0 -1px 0 0 $ui-light-secondary-color;

    div, p{
      color:  darken( $ui-light-secondary-color, 20% );
      font-size: calculateRem(18px);
      line-height: calculateRem(24px);
      font-style:  italic;
      font-weight:  normal;
      margin: 0;
      display: inline;
    }

    h6{
      text-transform: uppercase;
      font-style: italic;
    }
  }

  figcaption, figcaption p {
    color:  darken( $ui-light-secondary-color, 20% );
    font-size:  calculateRem(14px);
    line-height:  calculateRem(20px);
    font-style:  normal;
    font-weight:  normal;

    p{
      display: inline;
      margin:0;
    }
    @media screen and (max-width: $mobile-breakpoint){
      font-size:  calculateRem(14px);
      line-height:  calculateRem(20px);

    }

    @media screen and (max-width: $tablet-breakpoint) {
      font-size:  calculateRem(14px);
      line-height:  calculateRem(20px);
    }
  }

  table {
    width:  100%;
    margin:  20px 0;;
    color: #778F9B;

    @media screen and (max-width: $mobile-breakpoint){
      width:  100%;
      margin:  20px 0;;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      width:  100%;
      margin:  20px 0;;
    }

    &, th, td {
      border-left:  1px solid #DDE2E8;
      border-right:  1px solid #DDE2E8;
      border-top:  1px solid #DDE2E8;
      border-bottom:  1px solid #DDE2E8;
      border-collapse: collapse;
    }

    th, td {
      padding:  5px 10px;
      text-align:  center;

      @media screen and (max-width: $mobile-breakpoint){
        padding: 5px 10px;
      }

      @media screen and (max-width: $tablet-breakpoint) {
        padding: 5px 10px;
      }
    }

    td{
      font-size: 17px;
      font-style: normal;
      font-weight: normal;

      @media screen and (max-width: $mobile-breakpoint){
        font-size: 17px;
        white-space: normal;
      }

      @media screen and (max-width: $tablet-breakpoint) {
        font-size: 17px;
        white-space: normal;
      }
    }

    th{
      font-size: 17px;
      font-style: normal;
      font-weight: normal;
      white-space: nowrap;

      @media screen and (max-width: $mobile-breakpoint){
        font-size: 17px;
        white-space: normal;
      }

      @media screen and (max-width: $tablet-breakpoint) {
        font-size: 17px;
        white-space: normal;
      }
    }
  }

  blockquote.pullquote{
    text-align: center;
    font-size:  calculateRem(26px);
    line-height:  calculateRem(32px);
    font-weight:  bold;
    font-style:  italic;
    p{
      text-align: center;
      font-size:  calculateRem(26px);
      line-height:  calculateRem(32px);
      font-weight:  bold;
      font-style:  italic;
    }
    padding: map-get($spacers, 'md') 0;
    box-shadow: inset 0 -5px 0 0 $ui-light-secondary-color, inset 0 5px 0 0 $ui-light-secondary-color;
  }

  blockquote{
    box-shadow: inset 5px 0 0 0 #1F2D3D;
    padding: 0 0 0 map-get($spacers, 'md');
    text-align: left;
    margin: 0;
    font-size:  calculateRem(18px);
    line-height:  calculateRem(32px);
    font-weight:  normal;
    font-style:  italic;

    p{
      font-size:  calculateRem(18px);
      line-height:  calculateRem(32px);
      font-weight:  normal;
      font-style:  italic;
    }
  }

  .interstitial_link{
    font-style: italic;
    a{
      color: $primary-color;
      text-decoration: underline;
    }

  }

}
