.alert-bar {
  align-items: center;
  background-color: $danger-color;
  display: inline-flex;
  flex-wrap: wrap;
  height: 56px;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;

  .article-link {

    align-items: center;
    color: white;
    display: inline-flex;
    font-family: $theme-primary-font-family;
    font-size: 16px;
    font-weight: bold;

    height: 100%;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    width: 80%;
  }

  button {
    background: none !important;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
}
