.alert-bar {
  align-items: center;
  background-color: #db0a07;
  display: flex;
  flex-wrap: nowrap;
  height: 56px;
  justify-content: space-between;
  overflow: hidden;
  padding-left: calculateRem(20px);
  padding-right: 0;
  width: 100%;

  .article-link {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: calculateRem(16px);
    font-weight: bold;
    height: 100%;
    line-height: calculateRem(16px);
    text-align: left;
    text-decoration: none;
    width: 80%;
  }

  button {
    background: none !important;
    border: none;
    cursor: pointer;
    margin-right: 0;
    padding-left: calculateRem(8px);
    padding-right: calculateRem(8px);
  }
}
