$nav-bar-height: 56px;
$alert-bar-height: 56px;

.alert-bar {
  align-items: center;
  background-color: $danger-color;
  display: flex;
  flex-wrap: nowrap;
  height: $alert-bar-height;
  justify-content: space-between;
  overflow: hidden;
  padding-left: calculateRem(20px);
  padding-right: 0;
  width: 100%;

  .article-link {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: $theme-primary-font-family;
    font-size: calculateRem(16px);
    font-weight: bold;
    height: 100%;
    line-height: calculateRem(16px);
    text-align: left;
    text-decoration: none;
    width: 80%;
  }

  button {
    background: none !important;
    border: none;
    cursor: pointer;
    margin-right: 0;
    padding-left: calculateRem(8px);
    padding-right: calculateRem(8px);
  }
}

#fusion-app .has-alert + .main {
  padding-top: calc(#{$nav-bar-height} + #{$alert-bar-height} + #{map-get($spacers, 'lg')});
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding-top: calc(#{$nav-bar-height} + #{$alert-bar-height} + #{map-get($spacers, 'md')});
  }
}
