node_modules
.idea
coverage
.npmrc
**/.DS_Store
*.log

# output of build-storybook for chromatic usage
storybook-static
.claude-mounts.json
.claude/settings.local.json
.devcontainer
.devcontainer-logs
.devcontainer-exclude