.ts-byline {
  $self: &;
  color: #191919;
  font-size: 1.25rem;
  line-height: 2.5rem;

  &--list {
    display: inline;
    font-size: 0.875rem;
    line-height: 1rem;

    #{$self}__by {
      margin-right: 0;
    }
  }

  .dot-separator {
    margin: 0 0.5em;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
