.promo-date {
  color: #575757;

  font-size: calculateRem(14px);
  line-height: calculateRem(14px);

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: calculateRem(14px);
    line-height: calculateRem(16px);
  }
}
