.xpmedia-b-list {
  /*
    If the var value is not valid the overline component
    text color is removed.
    We can not have this - will require to only set these
    overrides if we need to change the child component
  */
  --xpmedia-component-overline-text-color: var(--xpmedia-block-list-component-overline-text-color);

  background-color: var(--xpmedia-block-list-background-color);
}

.xpmedia-b-list-item {
  margin: var(--xpmedia-block-list-item-margin);
}
