html,
body {
  height: 100%;
  width: 100%;
}

#fusion-app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    height: 54px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }

  .main {
    flex-grow: 1;
    padding-bottom: calculateRem(64px);
    padding-top: 54px;
    width: 100%;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-bottom: calculateRem(80px);
    }
  }

  .fullwidth-section {
    padding: map-get($spacers, 'lg') 0 map-get($spacers, 'md');

    &.horizontal-borders {
      border-bottom: 1px solid $border-rule-color;

      &:empty {
        border: none;
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: map-get($spacers, 'lg') 0;
    }
  }

  .left-article-section {
    padding: 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      border-right: 1px solid $border-rule-color;
      padding: 0 map-get($spacers, 'lg') 0 0;
    }
  }

  .right-article-section {
    padding: 0;
  }

  .section-padding {
    padding: map-get($spacers, 'sm');

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: map-get($spacers, 'md');
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      padding: map-get($spacers, 'ld');
    }
  }

}
