html,
body {
  height: 100%;
  width: 100%;
}

#fusion-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page-header {
    position: fixed;
    width: 100%;
    z-index: 9;
  }

  .main {
    flex-grow: 1;
    padding-bottom: calculateRem(56px);
    padding-top: 54px;
    width: 100%;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-bottom: calculateRem(52px);
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      padding-bottom: calculateRem(64px);
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
      padding-bottom: calculateRem(56px);
    }

    @media screen and (max-width: 95rem) and (min-width: 90rem) {
      .container {
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }

  .fullwidth-section {
    padding: map-get($spacers, 'sm') 0 map-get($spacers, 'md');

    &.horizontal-borders {
      border-bottom: 1px solid $border-rule-color;

      &:empty {
        border: none;
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 0 0 map-get($spacers, 'lg');
    }
  }

  .left-article-section {
    padding: 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      border-right: 1px solid $border-rule-color;
      padding: 0 map-get($spacers, 'lg') 0 0;
    }
  }

  .right-article-section {
    padding: 0;
  }

  .section-padding {
    padding: map-get($spacers, 'sm');

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: map-get($spacers, 'md');
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      padding: map-get($spacers, 'ld');
    }
  }

}
