.shareBar {
  position: absolute;
  left: 0px;
  top: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 44px;

  .shareButton {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    margin: 5px 5px;
  }
}
