.card-list-container {
	@include block-margin-bottom;
	@include block-internal-spacing;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
		0 1px 3px 0 rgba(0, 0, 0, 0.14);
	padding-bottom: 1rem;
}

.card-list--link-container img {
	height: auto;
	max-height: 400px;
	max-height: 40vh;
	object-fit: cover;
	width: 100%;
}

.vertical-align-image picture {
	width: 100%;
}

.vertical-align-image > picture > img {
	vertical-align: middle;
}

.card-list-title {
	color: #1a1a1a;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 0 !important;
	padding: 11px 0 11px 16px;
}

.card-list-overline {
	color: $ui-primary-font-color;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	padding: 12px 0 0 16px;
}

.card-list-headline {
	font-size: 26px;
	font-weight: bold;
	line-height: 32px;
	padding: 10px 18px 0 16px;

	a {
		color: $ui-primary-font-color;
	}
}

.author-date {
	// top, horizontal, botom
	padding: 16px 16px 0;

	.story-date {
		color: $ui-primary-font-color;
		display: inline;
		font-size: calculateRem(14px);
		line-height: calculateRem(16px);
	}
}

.list-item-simple {
	@include block-internal-spacing;

	&--divider {
		box-shadow: inset 0 -1px 0 0 $ui-light-gray;
	}

	.list-anchor {
		text-decoration: none;
	}
}

.card-list-item {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 0;
	margin: calculateRem(16px) calculateRem(16px) 0 calculateRem(16px);
	border-top: 1px #dadada solid;

	.list-item-number {
		color: $ui-primary-font-color;
		font-size: 20px;
		font-weight: bold;
		line-height: 24px;
		margin-right: 6.24px;
		min-height: 24px;
		min-width: 29.8px;
		text-align: left;
	}

	.list-anchor-image {
		img {
			max-height: 70px;
			max-width: 105px;
			min-height: 70px;
			min-width: 105px;
		}
	}

	.headline-list-anchor {
		display: flex;
		margin-right: 12.95px;
		text-decoration: none;

		.headline-text {
			@include link-color-active-hover($ui-primary-font-color);
			color: $ui-primary-font-color;
			font-size: 16px;
			font-weight: normal;
			line-height: 24px;
		}
	}
}
