.card-list-container {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.14);
  @include block-margin-bottom;
}

.list-item-simple:nth-child(2) > a > .image-placeholder-sm{
  min-width: 100%;
  min-height: 284px;
}

.card-list-main-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 400px;
  max-height: 40vh;
}

.card-list-img {
  width: 108px;
  height: 72px;
}

.card-list-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #1A1A1A;
  padding: 11px 0 11px 16px;
}

.card-list-overline {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: $ui-dark-gray;
  padding: 12px 0 0px 16px;
}

.card-list-headline {
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  color: $ui-dark-gray;
  padding: 10px 18px 0 16px;
}

.author-date {
  padding: 16px 16px 16px 16px;

  .dot-separator {
    display: inline-block;
    color: $ui-dark-gray;
    font-size: calculateRem(14px);
    line-height: calculateRem(16px);
    margin: 0 map-get($spacers, 'xs');
    font-size: calculateRem(10px);
    position: relative;
    top: -1px;
  }

  .story-date {
    color: $ui-dark-gray;
    font-size: calculateRem(14px);
    line-height: calculateRem(16px);
    display: inline;
  }
}

.list-item-simple {
  .list-anchor {
    text-decoration: none;
  }
}

.card-list-item {
  box-shadow: inset 0 -1px 0 0 $ui-light-gray;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  &:last-child {
    box-shadow: none;
  }
  .list-item-number {
    color: $ui-primary-font-color;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    min-width: 29.8px;
    min-height: 24px;
    text-align: left;
    margin-right: 6.24px;
  }

  .list-anchor-image {
    img,
    .card-list-placeholder {
      max-height: 71px;
      min-height: 71px;
      max-width: 105px;
      min-width: 105px;
    }
  }

  .card-list-placeholder {
    background-color: #DFE4EA;
  }

  .headline-list-anchor {
    display: flex;
    text-decoration: none;
    margin-right: 12.95px;

    .headline-text {
      font-size: 16px;
      line-height: 24px;
      color: $ui-primary-font-color;
      font-weight: normal;
    }
  }
}
