.image-container {
  @media screen and (max-width: map-get($grid-breakpoints, 'lg')){
    text-align: center;
    float: none;
    width: 100%;
  }
  float: left;
  width: 30%;
  margin-top: map-get($spacers, 'lg');
  margin-right: map-get($spacers, 'md');
}

.author-image {
  max-height: 180px;
  width: auto;
  border-radius: 100%;
}

.author-content {
  @media screen and (max-width: map-get($grid-breakpoints, 'lg')){
    width: 100%;
  }
  display: inline-block;
  width: 64%;
}

.author-name {
  @media screen and (max-width: map-get($grid-breakpoints, 'lg')){
    margin-top: map-get($spacers, 'sm');
  }
  margin-top: map-get($spacers, 'lg');
  margin-bottom: map-get($spacers, 'xs');
}

.author-title {
  margin-bottom: map-get($spacers, 'xs');
}

.social-container {
  @media screen and (max-width: map-get($grid-breakpoints, 'lg')){
    padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;
    text-align: center;
    justify-content: flex-start;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: map-get($spacers, 'xs');
  padding: map-get($spacers, 'md') 0 map-get($spacers, 'md') 0;
  border-top: 1px $ui-medium-light-secondary-color solid;
  border-bottom: 1px $ui-medium-light-secondary-color solid;
}

.social-items {
  @media screen and (max-width: map-get($grid-breakpoints, 'lg')){
    justify-content: center;
  }
  flex: 1 0 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.social-column {
  @media screen and (max-width: map-get($grid-breakpoints, 'lg')){
    margin: 0 map-get($spacers, 'xs');
  }
  flex: 0 0 40px;
  height: 40px;
  margin: 0 0 0 map-get($spacers, 'xs');
  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    display: block;
    width: 24px;
    height: auto;
    margin: 0 auto;

    path {
      fill: rgba($ui-medium-primary-color,1);
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    svg {

      path {
        fill: rgba($ui-medium-primary-color,0.8);
      }
    }
  }
}

.connect-label {
  @media screen and (max-width: map-get($grid-breakpoints, 'lg')){
    flex: 0 0 100%;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 200px;
  text-align: left;
}
