.image-container {
  float: left;
  width: 30%;
  margin-top: map-get($spacers, 'lg');
  margin-right: map-get($spacers, 'md');
}

.author-image {
  max-height: 169px;
  width: auto;
  border-radius: 100px;
}

.author-content { 
  display: inline-block;
  width: 64%;
}

.author-name {
  margin-top: map-get($spacers, 'lg');
  margin-bottom: map-get($spacers, 'xs');
}

.author-title {
  margin-bottom: map-get($spacers, 'xs');
}

.social-container {
  margin-top: map-get($spacers, 'xs');
  padding: calculateRem(18px) 0 calculateRem(16px) 0;
  border-top: 1px $ui-medium-light-secondary-color solid;
  border-bottom: 1px $ui-medium-light-secondary-color solid;
}

.social-items {
  width: 50%;
  display: flex;
}

.social-column {
  display: inline-block;
  font-size: calculateRem(16px);
  margin-right: map-get($spacers, 'xl')
}

