.xpmedia-subscription-grid-list {
  display: grid;
  grid-gap: map-get($spacers, 'lg');
  grid-template-columns: 1fr;
  justify-content: center;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {

    &--1 {
      grid-template-columns: minmax(auto, 600px);
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &--4 {
      grid-template-columns: 1fr 1fr;
    }

    &--5 {
      grid-template-columns: repeat(6, 1fr);

      > * {
        grid-column: span 2;
      }

      :first-child,
      :nth-child(2) {
        grid-column: span 3;
      }
    }
  }
}
