.xpmedia-subscription-grid-list {
  display: grid;
  grid-gap: map-get($spacers, 'lg');

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    grid-template-columns: repeat(3, 1fr);

    &--4 {
      grid-template-columns: 1fr 1fr;
    }

    &--5 {
      grid-template-columns: repeat(6, 1fr);

      > * {
        grid-column: span 2;
      }

      :first-child,
      :nth-child(2) {
        grid-column: span 3;
      }
    }
  }
}
