.editable-form-input {
	border: 1px solid var(--global-neutral-2);
	border-radius: var(--global-border-radius-1);
}

.editable-form-input--internal {
	padding: var(--global-spacing-4);
}

.editable-form-input--button-container {
	display: flex;
	padding: var(--global-spacing-4) 0 0;

	button:first-child {
		margin: 0 5px 0 0;
	}
}

.editable-form-input--label-text {
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	margin: var(--global-spacing-1) 0;
	font-weight: bold;
	flex: 1;
}

.editable-form-input--value-text {
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
}

.editable-form-input--edit-button-link {
	background: none;
	border: 0;
	padding: 0;
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	text-decoration: underline;
	cursor: pointer;
}

.editable-form-input--label-container {
	display: flex;
}
