.h4-primary.sub-headline {
  color: $ui-primary-font-color;

  font-size: calculateRem(19px);
  font-weight: normal;
  line-height: calculateRem(24px);
  margin-top: calculateRem(12px);
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: calculateRem(26px);
    line-height: calculateRem(32px);
  }
}
