h2.sub-headline{
  font-family: $theme-sub-headline-font-family;
  font-size: $theme-sub-headline-font-size;
  color: $theme-sub-headline-font-color;
  text-decoration: $theme-sub-headline-text-decoration;
  line-height: $theme-sub-headline-line-height;
}
