.tb-header-block {
  color: $ui-primary-font-color;
  font-weight: bold;

  &--extra-large {
    font-size: 36px;
    line-height: 40px;
  }

  &--large {
    font-size: 30px;
    line-height: 32px;
  }

  &--medium {
    font-size: 26px;
    line-height: 32px;
  }

  &--small {
    font-size: 20px;
    line-height: 24px;
  }
}
