.header-block {
	color: $ui-primary-font-color;
	font-weight: bold;

	h2 {
		font-size: 36px;
		line-height: 40px;
	}

	h3 {
		font-size: 30px;
		line-height: 32px;
	}

	h4 {
		font-size: 26px;
		line-height: 32px;
	}

	h5 {
		font-size: 20px;
		line-height: 24px;
	}
}
