.lead-art-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 0 map-get($spacers, 'lg');

    figcaption {
        margin-top:map-get($spacers, 'xs');

        p.image-metadata{
            font-size: calculateRem(14px);
            color: #7F8C8D;
            margin: 8px 0;
            line-height: calculateRem(24px);

            @media screen and (min-width: map-get($grid-breakpoints, 'md')){
                line-height: calculateRem(20px);
            }
        }
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
        margin-bottom: map-get($spacers, 'md');
    }

    .btn-full-screen{
        background-color: transparent;
        border: none;
        font-size: calculateRem(14px);
        line-height: calculateRem(18px);
        display: flex;
        margin: map-get($spacers, 'xs') 0;
        padding-left: 0;
        cursor: pointer;

        img{
            display: inline;
            width: 18px;
            height: auto;
            margin-right: map-get($spacers, 'xxs');
            fill: $ui-medium-primary-color;
        }
    }

    img, div.innerContent {
        width: 100%;
        height: auto;
        display: block;
        vertical-align: middle;
        border: 0;
        position: relative;
    }

}
