.promo-image {
	position: relative;

	picture {
		width: 100%;
	}

	img {
		display: block;
		height: auto;
		vertical-align: middle;
		width: 100%;
	}

	.promo-label {
		.label {
			color: var(--background-color);
			margin-left: var(--global-spacing-2);
			flex-grow: 0;
			font-size: var(--body-font-size-tiny);
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			height: 18px;
		}
	}
}
