.promo-image {
	position: relative;

	img {
		display: block;
		height: auto;
		vertical-align: middle;
		width: 100%;
	}

	.promo-label {
		.label {
			color: #fff;
			margin-left: 8px;
			flex-grow: 0;
			font-size: 12px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			height: 18px;
		}
	}
}
