.numbered-list-container {
  @include block-margin-bottom;
  @include block-internal-spacing;
}

.numbered-list-item {
  box-shadow: inset 0 -1px 0 0 $ui-light-gray;
  display: flex;
  justify-content: space-between;
  padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;

  .list-item-number {
    color: $ui-dark-secondary-color;
    flex: 0 0 calculateRem(40px);
    font-size: calculateRem(20px);
    font-weight: bold;
    line-height: calculateRem(24px);
    text-align: left;
  }

  .list-anchor-image {
    flex: 0 0 25%;
    text-decoration: none;

    img,
    .numbered-list-placeholder {
      height: auto;
      width: 100%;
    }

    .numbered-list-placeholder {
      min-height: 60px;
    }
  }

  .numbered-list-placeholder {
    background-color: $ui-light-gray;
  }

  .headline-list-anchor {
    @include link-color-active-hover($ui-primary-font-color);
    color: $ui-primary-font-color;
    display: flex;
    margin-right: calculateRem(16px);
    text-decoration: none;

    .headline-text {
      font-size: calculateRem(16px);
      font-weight: normal;
      line-height: calculateRem(24px);
    }
  }
}
