.numbered-list-container {
  @include block-margin-bottom;
}

.numbered-list-item {
  box-shadow: inset 0 -1px 0 0 $ui-light-secondary-color;
  padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;
  display: flex;
  justify-content: space-between;

  .list-item-number {
    flex: 0 0 calculateRem(40px);
    color: $ui-dark-secondary-color;
    font-size: calculateRem(20px);
    font-weight: bold;
    line-height: calculateRem(24px);
    text-align: left;
  }

  .list-anchor-image {
    text-decoration: none;
    flex: 0 0 25%;

    img,
    .numbered-list-placeholder {
      width: 100%;
      height: auto;
    }

    .numbered-list-placeholder {
      min-height: 60px;
    }
  }

  .numbered-list-placeholder {
    background-color: #DFE4EA;
  }

  .headline-list-anchor {
    display: flex;
    text-decoration: none;
    margin-right: calculateRem(16px);

    .headline-text {
      font-size: calculateRem(16px);
      line-height: calculateRem(24px);
      color: $ui-dark-secondary-color;
      font-weight: normal;
    }
  }
}
