.section-title {
  color: #191919;
  display: block;
  font-weight: bold;
}

.section-container {
  margin-top: map-get($spacers, 'sm');
}

.section-title--styled-link {
  font-size: calculateRem(14px);
  color: #191919;
  text-decoration: none;
}

