footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  //Fix for IE 11 and non grid browsers
  .legacy-footer-row {
    justify-content: space-around;
    @supports (display: grid) {
      justify-content: initial;
    }
  }

  .section-separator {
    border-bottom: 1px solid #babdc2;
    border-top: 1px solid #babdc2;
  }

  .copyright {
    color: #7f8c8d;
    font-family: $theme-primary-font-family;
    font-size: calculateRem(14px);
    text-align: center;
    vertical-align: middle;
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: map-get($spacers, 'md');
      margin-top: map-get($spacers, 'md');
    }
  }

  #copyright-top {
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      display: none;
    }
  }

  #copyright-bottom {
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      display: block;
    }
    display: none;
  }

  .primaryLogo {
    text-align: center;
  }

  .footer-row {
    display: table;
    padding: map-get($spacers, 'xs') 0;
    width: 100%;
  }

  .social-column {
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      display: table-cell;
      text-align: center;
      width: 100%;
    }
    display: inline-block;
    vertical-align: middle;
    width: 16.6%;
  }

  .copyright-column {
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      display: table-cell;
      text-align: center;
      width: 100%;
    }
    display: inline-block;
    text-align: center;
    width: 66.6%;
  }

  .socialBtn-container {
    align-items: center;
    border: 1px solid $primary-color;
    border-radius: calculateRem(5px);
    display: inline-flex;
    justify-content: space-between;
    margin-left: -(map-get($spacers, 'xs'));
  
    a {
      align-self: center;
      border-right: 1px solid $primary-color;
      display: inline-block;
      flex: auto;
      padding: map-get($spacers, 'xs') map-get($spacers, 'xs') map-get($spacers, 'xs') map-get($spacers, 'xs');

      &:last-child {
        border-right: none;
      }

      svg path {
        fill: $primary-color;
      }

      &:hover {
        svg path {
          fill: $primary-color;
        }
      }
    }
  }

  .footer-logo {
    height: 24px;
    width: auto;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      height: 32px;
    }
  }

  .footer-section {

    font-size: 14px;
    justify-self: left;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      justify-self: left;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      justify-self: center;
    }

    .footer-header {
      font-weight: bold;
    }

    .footer-item {
      margin: map-get($spacers, 'xs') 0;

      > a {
        color: $ui-medium-gray;
        text-decoration: none;
      }
    }
  }
}
