@use "@wpmedia/arc-themes-components/scss";

.b-quilted-image {
	@include scss.block-properties("quilted-image");
	@include scss.block-components("quilted-image");
}

.b-quilted-image--wrapper {
	display: grid;

	.b-quilted-image--wrapper--bottom {
		grid-area: bottom;

		img {
			width: 100%;
		}
	}

	.b-quilted-image--wrapper--top {
		grid-area: top;

		img {
			width: 100%;
		}
	}

	@include scss.block-properties("quilted-image--wrapper");
	@include scss.block-components("quilted-image--wrapper");
}

.b-quilted-image--overlay-text-light {
	@include scss.block-properties("quilted-image--overlay-text-light");
	@include scss.block-components("quilted-image--overlay-text-light");
}

.b-quilted-image--overlay-text-dark {
	@include scss.block-properties("quilted-image--overlay-text-dark");
	@include scss.block-components("quilted-image--overlay-text-dark");
}

.b-quilted-image--media-panel {
	position: relative;
	@include scss.block-properties("quilted-image--media-panel");
	@include scss.block-components("quilted-image--media-panel");
}

.b-quilted-image--overlay {
	position: absolute;
	left: 2rem;
	bottom: 2rem;
	@include scss.block-properties("quilted-image--overlay");
	@include scss.block-components("quilted-image--overlay");
}
