@use "@wpmedia/arc-themes-components/scss";

.b-quilted-image {
	@include scss.block-properties("quilted-image");
	@include scss.block-components("quilted-image");
}

.b-quilted-image__wrapper {
	display: grid;

	.b-quilted-image__wrapper-bottom {
		grid-area: bottom;

		img {
			width: 100%;
		}

		@include scss.block-properties("quilted-image__wrapper-bottom");
		@include scss.block-components("quilted-image__wrapper-bottom");
	}

	.b-quilted-image__wrapper-top {
		grid-area: top;

		img {
			width: 100%;
		}
		@include scss.block-properties("quilted-image__wrapper-top");
		@include scss.block-components("quilted-image__wrapper-top");
	}

	@include scss.block-properties("quilted-image__wrapper");
	@include scss.block-components("quilted-image__wrapper");
}

.b-quilted-image__overlay-text--light {
	@include scss.block-properties("quilted-image__overlay-text--light");
	@include scss.block-components("quilted-image__overlay-text--light");
}

.b-quilted-image__overlay-text--dark {
	@include scss.block-properties("quilted-image__overlay-text--dark");
	@include scss.block-components("quilted-image__overlay-text--dark");
}

.b-quilted-image__media-panel {
	display: grid;
	grid-template-areas: "overlay";

	> * {
		grid-area: overlay;
	}

	@include scss.block-properties("quilted-image__media-panel");
	@include scss.block-components("quilted-image__media-panel");
}

.b-quilted-image__overlay {
	@include scss.block-properties("quilted-image__overlay");
	@include scss.block-components("quilted-image__overlay");
}
