.xpmedia-form-field {
	color: var(--global-neutral-9);
	display: block;
	font-size: var(--heading-level-5-font-size);
	line-height: 30px;
}

.xpmedia-form-field-input,
.xpmedia-form-field-label,
.xpmedia-form-field-tip {
	font-size: var(--body-font-size);
	line-height: 1.5;
	margin: var(--global-spacing-1) 0;
}

.xpmedia-form-field-label {
	font-weight: bold;
}

.xpmedia-form-field-input {
	border: solid 1px var(--global-neutral-2);
	border-radius: var(--border-radius);
	display: block;
	outline: none;
	padding: var(--global-spacing-2);
	width: 100%;

	&--error {
		border-color: var(--global-red-4);
		color: var(--global-red-4);
	}
}

.xpmedia-form-field-tip {
	color: var(--global-neutral-6);

	&--error {
		color: var(--global-red-4);
	}
}

.xpmedia-form-field-hidden {
	display: none;
}
