.xpmedia-form-field {
	color: #191919;
	display: block;
	font-size: var(--heading-level-5-font-size);
}

.xpmedia-form-field-input,
.xpmedia-form-field-label,
.xpmedia-form-field-tip {
	font-size: var(--body-font-size);
	line-height: 1.5;
	margin: var(--global-spacing-1) 0;
}

.xpmedia-form-field-label {
	font-weight: bold;
}

.xpmedia-form-field-input {
	border: solid 1px #dadada;
	border-radius: var(--border-radius);
	display: block;
	outline: none;
	padding: var(--global-spacing-2);
	width: 100%;

	&--error {
		border-color: #db0a07;
		color: #db0a07;
	}
}

.xpmedia-form-field-tip {
	color: #575757;

	&--error {
		color: #db0a07;
	}
}

.xpmedia-form-field-hidden {
	display: none;
}
