.xpmedia-form-field {
	color: #191919;
	display: block;
	font-size: 20px;
}

.xpmedia-form-field-input,
.xpmedia-form-field-label,
.xpmedia-form-field-tip {
	font-size: 16px;
	line-height: 1.5;
	margin: 0.25rem 0;
}

.xpmedia-form-field-label {
	font-weight: bold;
}

.xpmedia-form-field-input {
	border: solid 1px #dadada;
	border-radius: 4px;
	display: block;
	outline: none;
	padding: 0.5rem;
	width: 100%;

	&--error {
		border-color: #db0a07;
		color: #db0a07;
	}
}

.xpmedia-form-field-tip {
	color: #575757;

	&--error {
		color: #db0a07;
	}
}

.xpmedia-form-field-hidden {
	display: none;
}
