.xpmedia-subscription-offer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.xpmedia-subscription-offer-headings {
	margin-top: var(--global-spacing-9);
	max-width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	@media screen and (max-width: 48rem) {
		margin-top: 2rem;
		max-width: 90%;
	}

	h1,
	h1 * {
		font-weight: 700;
		font-size: var(--heading-level-1-font-size);
		line-height: 3.5rem;
		margin-bottom: 1rem;
		@media screen and (max-width: 48rem) {
			font-size: var(--heading-level-1-font-size);
			line-height: 2.5rem;
		}
	}

	h2,
	h2 * {
		font-size: 1.875rem;
		line-height: 2rem;
		@media screen and (max-width: 48rem) {
			font-size: 1.19rem;
			line-height: 1.5rem;
		}
	}
}
