.top-table-list-container {
  .small-promo {
    @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
      .row.sm-promo-padding-btm {
        padding-top: 0;
      }
    }

    display: inline-flex;
    flex-direction: column;
    vertical-align: top;

    .row {
      @media only screen and (min-width: map-get($grid-breakpoints, 'md')) and (max-width: map-get($grid-breakpoints-max, 'lg')) {
        grid-column-gap: 0;
      }
    }

    &.wrap-bottom {
      margin-bottom: 0 !important;

      @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: inherit;
      }
    }

    .vertical {
      grid-auto-flow: column;
      grid-column-gap: 0;
      grid-row-gap: 0.5rem;

      @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
        grid-auto-flow: row;

        & > div:first-child {
          grid-row-start: 2;
        }
      }
    }

    .horizontal {
      grid-auto-flow: column;
    }

    hr {
      width: 100%;
    }

    .headline-wrap-vertical {
      box-orient: vertical;
      -moz-box-oriented: vertical;
      display: box;
      height: 4.6em;
      -webkit-line-clamp: 3;
      overflow: hidden;
      /* opera */
      text-overflow: -o-ellipsis-lastline;
    }

    .headline-wrap-horizontal {
      height: 50px;
      overflow: hidden;
    }

    img {
      width: 100%;
    }
  }

  .small-promo-1 {
    width: 100%;
  }

  .small-promo-2 {
    width: 100%;

    @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 0 5px;
      width: 50%;
    }
  }

  .small-promo-2:nth-child(odd) {
    padding-right: 0.75rem;
  }

  .small-promo-2:nth-child(even) {
    padding-left: 0.75rem;
  }

  .small-promo-3 {
    width: 100%;

    @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 0 5px;
      width: 33%;
    }
  }

  .small-promo-4 {
    width: 100%;

    @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 0 5px;
      width: 25%;
    }
  }

  &.wrap-bottom {
    margin-bottom: inherit !important;
  }

  .image-wrapper {
    position: relative;

    > picture > img {
      vertical-align: middle;
    }
  }
}
