.top-table-list-container {
  .small-promo {
    @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
      .row.sm-promo-padding-btm {
        padding-top: 0;
      }
    }
    display: block;

    .col-md-xl-4 {
      text-align: right;
    }
    @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
      display: inline-block;
      width: calc((100% - #{map-get($spacers, 'md')}) / 2);
    }

    .row {
      @media only screen and (min-width: map-get($grid-breakpoints, 'md')) and (max-width: map-get($grid-breakpoints-max, 'lg')) {
        grid-column-gap: 0;

        img {
          max-width: 90%;
        }
      }
    }

    &.wrap-bottom {
      margin-bottom: 0 !important;

      @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: inherit;
      }
    }
  }

  .small-promo-padding {
    padding-right: 0;
    @media only screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-right: map-get($spacers, 'md');
    }
  }

  &.wrap-bottom {
    margin-bottom: inherit !important;
  }

  .small-promo-one {
    display: block;
    width: 100%;
  }
}
