.top-table-extra-large-image-placeholder {
  // height via mocks
  // https://washpost.invisionapp.com/d/main#/console/18639079/395708159/inspect
  min-height: calculateRem(1062px);
  background-color: #dfe4ea;
}

.top-table-list-extra-large-title {
  font-size: 52px;
  line-height: 56px;
  text-align: center;
}
