.top-table-list-item-simple {
  box-shadow: inset 0 -1px 0 0 $ui-light-secondary-color;
  padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;
}

.top-table-list-container {
  padding: 0 0 map-get($spacers, 'md') 0;
  width: 100%;
}

.simple-list-headline-text {
  font-size: calculateRem(16px);
  line-height: calculateRem(24px);
  color: $ui-dark-secondary-color;
}

.simple-list-headline-anchor {
  padding-left: calculateRem(16px);
}

.headline-text {
  color: $ui-dark-secondary-color;
  font-size: calculateRem(16px);
  line-height: calculateRem(24px);
}
