.list-container {
  @include block-margin-bottom;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  .list-title {
    color: $ui-primary-font-color;
    font-size: calculateRem(20px);
    font-weight: bold;
    line-height: calculateRem(24px);
  }

  .list-item-simple {
    box-shadow: inset 0 -1px 0 0 $ui-light-gray;
    display: flex;
    justify-content: flex-start;
    min-height: 72px;
    padding: map-get($spacers, 'sm') 0 map-get($spacers, 'sm') 0;

    .simple-list-anchor {
      flex: 0 0 33%;
      text-decoration: none;

      img {
        height: auto;
        object-fit: cover;
        width: 100%;
      }

      .simple-list-placeholder {
        background-color: $ui-medium-gray;
      }
    }

    .simple-list-headline-anchor {
      @include link-color-active-hover($ui-primary-font-color);
      color: $ui-primary-font-color;
      display: flex;
      padding-left: calculateRem(16px);
      text-decoration: none;

      .simple-list-headline-text {
        font-size: calculateRem(16px);
        font-weight: normal;
        line-height: calculateRem(24px);
        max-height: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
