.horizontal-links-bar {
  align-items: center;
  flex: 1 1 auto;
  overflow: hidden;
  text-align: left;
  height: 100%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: calculateRem(16px);

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    display: none;
  }
}

.horizontal-links-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    @include link-color-active-hover($ui-primary-font-color);
    font-family: $theme-primary-font-family;
    font-size: 14px;
    line-height: 14px;
    margin: 8px 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }
}

// Re-adding temporary hack for SVG logo
// Doesn't scale - only keeping until ticket for real SVG fix
.news-theme-navigation-container.svg-logo  {
  .horizontal-links-bar {
    margin-left: calculateRem(32px);
  }
}
