.horizontal-links-bar {
  align-items: center;
  flex: 1 1 auto;
  overflow: hidden;
  text-align: left;
  height: 100%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: calculateRem(16px);

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    display: none;
  }
}

.horizontal-links-menu {
  align-items: center;
  display: flex;
  font-size: calculateRem(14px);
  height: 100%;
  justify-content: center;

  a {
    @include link-color-active-hover($ui-primary-font-color);
    line-height: 14px;
    margin: 8px 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }
}
