.xpmedia-subscription-offer-card {
	align-items: center;
	border: 1px solid #dadada;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 3rem 2rem 2rem;

	> * {
		margin-bottom: 1rem;
	}

	&--headline {
		text-align: center;
		font-size: 24px;
		font-weight: bold;

		@media (min-width: 48rem) {
			font-size: 36px;
			line-height: 40px;
		}
	}

	&--subheadline {
		color: #575757;
		font-size: 20px;
		font-weight: 400;
		text-align: center;
	}

	&--features {
		align-self: baseline;
		font-size: 14px;

		> * + * {
			margin-top: 1rem;
		}
	}

	&--feature-item {
		align-items: center;
		display: flex;
	}

	&--feature-item-icon {
		display: flex;
		margin-right: 1rem;

		svg,
		path {
			fill: #046c19;
		}
	}
}
