.xpmedia-subscription-offer-card {
	align-items: center;
	border: 1px solid $ui-light-gray;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: map-get($spacers, "xl") map-get($spacers, "lg") map-get($spacers, "lg");

	> * {
		margin-bottom: map-get($spacers, "sm");
	}

	&--headline {
		text-align: center;
	}

	&--subheadline {
		color: $ui-medium-gray;
		font-size: calculateRem(20px);
		font-weight: 400;
		text-align: center;
	}

	&--features {
		align-self: baseline;
		font-size: calculateRem(14px);

		> * + * {
			margin-top: map-get($spacers, "sm");
		}
	}

	&--feature-item {
		align-items: center;
		display: flex;
	}

	&--feature-item-icon {
		display: flex;
		margin-right: map-get($spacers, "sm");

		svg,
		path {
			fill: #046c19;
		}
	}
}
