.xpmedia-subscription-offer-card {
	align-items: center;
	border: 1px solid #dadada;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	padding: var(--global-spacing-8) var(--global-spacing-6) var(--global-spacing-6);

	> * {
		margin-bottom: var(--global-spacing-4);
	}

	&--headline {
		text-align: center;
		font-size: var(--heading-level-4-font-size);
		font-weight: bold;

		@media (min-width: 48rem) {
			font-size: var(--heading-level-1-font-size);
			line-height: 2.5rem;
		}
	}

	&--subheadline {
		color: #575757;
		font-size: var(--heading-level-5-font-size);
		font-weight: 400;
		text-align: center;
	}

	&--features {
		align-self: baseline;
		font-size: var(--body-font-size-small);

		> * + * {
			margin-top: var(--global-spacing-4);
		}
	}

	&--feature-item {
		align-items: center;
		display: flex;
	}

	&--feature-item-icon {
		display: flex;
		margin-right: var(--global-spacing-4);

		svg,
		path {
			fill: #046c19;
		}
	}
}
