.tags-holder {
	@include block-margin-bottom;
	align-content: center;
	align-items: center;
	box-shadow: inset 0 -1px 0 0 #b8c1cb, inset 0 1px 0 0 #b8c1cb;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 55px;
	padding: 0.5rem 1rem 0.5rem 2.125rem;
}

.tags {
	align-items: center;
	border-radius: 10000px;
	color: #fff;
	display: flex;
	font-size: 0.75rem;
	justify-content: center;
	line-height: calculateRem(24px);
	margin: 0.5rem;
	min-height: 1.5rem;
	padding: 0 0.9375rem;
	text-decoration: none;
	text-align: center;
	@media screen and (min-width: map-get($grid-breakpoints, "md")) {
		line-height: 0.875rem;
	}
}
