.tags-holder {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 2.125rem;
  min-height: 55px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: inset 0 -1px 0 0 #B8C1CB, inset 0 1px 0 0 #B8C1CB;
  @include block-margin-bottom;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  margin: 0.5rem 0.5rem;
  font-size: .75rem;
  line-height: calculateRem(24px);
  border-radius: 10000px;
  text-decoration: none;
  color: #fff;
  padding: 0 0.9375rem;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')){
    line-height: .875rem;
  }
}
