html, body {
  width: 100%;
  height: 100%;
}

#fusion-app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;

  header{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 999;
    height:54px;
  }
  .main {
    flex-grow: 1;
    padding-top: 54px;
    padding-bottom: calculateRem(64px);
    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
      padding-bottom: calculateRem(80px);
    }
  }

  .fullwidth1-section {
    padding: map-get($spacers, 'lg') 0 map-get($spacers, 'md');
    border-bottom: 1px $ui-medium-light-secondary-color solid;
    border-top: 1px $ui-medium-light-secondary-color solid;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
      padding: map-get($spacers, 'lg') 0;
    }
  }


  .left-article-section {
    padding: 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
      padding: 0 map-get($spacers, 'lg') 0 0;
      border-right: 1px $ui-medium-light-secondary-color solid;
    }
  }

  .right-article-section {
    padding: 0;
  }

  .section-padding{
    padding: map-get($spacers, 'sm');

    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
      padding: map-get($spacers, 'md');
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      padding: map-get($spacers, 'ld');
    }
  }

}
