.byline {
  font-family: $theme-primary-font-family;
  font-size: 16px;
  line-height: 22px;
  p {
    color: #000A12;
  }
  a {
    color: #000A12;
    text-decoration: none;
   }
   a:hover {
    text-decoration:underline;
   }
}
