.byline {
  &, a, span{
    font-size: calculateRem(14px);
    line-height: calculateRem(16px);
  }
  a {
    color: $ui-primary-font-color;
    text-decoration: none;
   }
   a:hover {
    text-decoration:underline;
   }
}
