@use 'sass:map';

.links-bar {
  // Include the component overrides for the block
  @include block-components('links-bar');

  // Include all the block settings
  @include block-properties('links-bar');

  align-items: center;
  text-align: left;
  width: 100%;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    text-align: center;
  }
}
