.xpmedia-subs-social-sign-on {
	max-width: 37rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.xpmedia-social-sign-on-error {
	color: var(--global-red-4);
	font-size: var(--body-font-size);
	margin: var(--global-spacing-5) 0;

	p {
		display: flex;
		justify-content: center;
		line-height: var(--body-line-height);

		svg {
			display: block;
			flex: 0 0 1em;
			margin: 0.125em 0.3125em 0 0;
		}
	}
}
