@use "@wpmedia/arc-themes-components/scss";

.b-hero {
	display: grid;
	grid-template-areas: "hero";
	justify-content: center;

	> * {
		grid-area: hero;
	}

	&--stacked {
		grid-template-areas:
			"hero"
			"info";

		@include scss.block-properties("hero-stacked");
		@include scss.block-components("hero-stacked");
	}

	&--light {
		@include scss.block-properties("hero-light");
		@include scss.block-components("hero-light");
	}

	&__image {
		@include scss.block-properties("hero-image");
		@include scss.block-components("hero-image");
	}

	&__image--stacked {
		@include scss.block-properties("hero-image-stacked");
		@include scss.block-components("hero-image-stacked");
	}

	&__text--overlay {
		place-self: center;

		@include scss.block-properties("hero-text-overlay");
		@include scss.block-components("hero-text-overlay");
	}

	&__text--stacked {
		grid-area: info;
		place-self: center;

		@include scss.block-properties("hero-text-stacked");
		@include scss.block-components("hero-text-stacked");
	}

	&__text--left {
		width: 100%;
		@include scss.block-properties("hero-text-left");
		@include scss.block-components("hero-text-left");
	}

	&__text--center {
		@include scss.block-properties("hero-text-center");
		@include scss.block-components("hero-text-center");

		> * {
			text-align: center;
		}
	}

	&__subheadline {
		@include scss.block-properties("hero-subheadline");
		@include scss.block-components("hero-subheadline");
	}

	&__buttonrow {
		@include scss.block-properties("hero-buttonrow");
		@include scss.block-components("hero-buttonrow");
	}

	@include scss.block-properties("hero");
	@include scss.block-components("hero");
}
