@use "@wpmedia/arc-themes-components/scss";

.b-hero {
	display: grid;
	grid-template-areas:
		"hero"
		"info";
	justify-content: center;

	@include scss.block-properties("hero");
	@include scss.block-components("hero");

	> * {
		grid-area: hero;
	}

	&--image {
		@include scss.block-properties("hero-image");
		@include scss.block-components("hero-image");
	}

	&--image-stacked {
		@include scss.block-properties("hero-image-stacked");
		@include scss.block-components("hero-image-stacked");
	}

	&--overlay {
		place-self: center;
		max-width: 24rem;

		@include scss.block-properties("hero-text-overlay");
		@include scss.block-components("hero-text-overlay");
	}

	&--stacked {
		grid-area: info;
		place-self: center;
		max-width: 100%;

		@include scss.block-properties("hero-text-stacked");
		@include scss.block-components("hero-text-stacked");
	}

	&--left {
		width: 100%;
		@include scss.block-properties("hero-left");
		@include scss.block-components("hero-left");
	}

	&--center {
		@include scss.block-properties("hero-center");
		@include scss.block-components("hero-center");
	}

	&--center > * {
		text-align: center;
	}

	&--light {
		@include scss.block-properties("hero-light");
		@include scss.block-components("hero-light");
	}

	&--subheadline {
		@include scss.block-properties("hero-subheadline");
		@include scss.block-components("hero-subheadline");
	}

	&--buttonrow {
		@include scss.block-properties("hero-buttonrow");
		@include scss.block-components("hero-buttonrow");
	}
}
