@use "@wpmedia/arc-themes-components/scss";

.b-hero {
	display: grid;
	grid-template:
		"hero"
		"info";
	justify-content: center;

	@include scss.block-properties("hero");
	@include scss.block-components("hero");

	> * {
		grid-area: hero;
	}

	&--image {
		@include scss.block-properties("hero-image");
		@include scss.block-components("hero-image");
	}

	&--text {
		place-self: center;
		max-width: 24rem;

		@include scss.block-properties("hero-text");
		@include scss.block-components("hero-text");
	}

	&--text[data-style-direction="stacked"] {
		grid-area: info;
		place-self: center;
		max-width: 100%;
	}

	&--left {
		width: 100%;

		@include scss.block-properties("hero-left");
		@include scss.block-components("hero-left");
	}

	&--center {
		@include scss.block-properties("hero-center");
		@include scss.block-components("hero-center");
	}

	&--center > * {
		text-align: center;
	}

	&--light {
		@include scss.block-properties("hero-light");
		@include scss.block-components("hero-light");
	}

	&--headline {
		@include scss.block-properties("hero-headline");
		@include scss.block-components("hero-headline");
	}

	&--subheadline {
		@include scss.block-properties("hero-subheadline");
		@include scss.block-components("hero-subheadline");
	}

	&--paragraph {
		@include scss.block-properties("hero-paragraph");
		@include scss.block-components("hero-paragraph");
	}

	&--buttonrow {
		@include scss.block-properties("hero-buttonrow");
		@include scss.block-components("hero-buttonrow");
	}
}
