
.l-stack {
  @include component-properties('stack');

  display: flex;
}

.l-stack[direction='vertical'] {
  flex-flow: column wrap;
}

.l-stack[direction='horizontal'] {
  flex-direction: row;
}

.l-stack[alignment='start'] {
  justify-content: flex-start;
}

.l-stack[alignment='center'] {
  justify-content: center;
}

.l-stack[alignment='end'] {
  justify-content: flex-end;
}
