@use "@wpmedia/arc-themes-components/scss";

.b-single-column-regular-header {
	@include scss.block-properties("single-column-regular-header");
	@include scss.block-components("single-column-regular-header");
}

.b-single-column-regular {
	max-width: 90rem; // 1440px
	width: 100%;
	margin: auto;
	@include scss.block-properties("single-column-regular");
	@include scss.block-components("single-column-regular");
}

.b-single-column-regular-footer {
	@include scss.block-properties("single-column-regular-footer");
	@include scss.block-components("single-column-regular-footer");
}
