.xpmedia-subscriptions-contact-info {
	margin-top: var(--global-spacing-6);

	&-title {
		margin-bottom: var(--global-spacing-5);
		font-size: var(--heading-level-4-font-size);
		font-weight: var(--heading-level-4-font-weight);
		line-height: 40px;
	}

	// .row {
	// 	grid-column-gap: 1rem;
	// 	display: grid;
	// 	grid-auto-flow: dense;
	// 	grid-template-columns: 1fr 1fr;
	// }

	.identity-row {
		width: 100%;
		display: inline-flex;
		align-content: center;
		line-height: var(--heading-level-2-line-height);
	}

	.sign-out-btn {
		padding: 0;
		display: inline-block;
		border: hidden;
		background: none;
		font-size: var(--body-font-size);
		margin: 0 0 0 var(--global-spacing-4);
		text-decoration: underline;
		cursor: pointer;
	}

	.identity-icon {
		display: inline-block;
		height: 1rem;
		width: 1rem;
		margin-right: var(--global-spacing-2);
	}

	.identity-icon .google-identity {
		width: 1rem;
		height: 1rem;
	}

	.identity-icon .facebook-identity {
		width: 1.2rem;
		height: 1.2rem;
	}

	.row {
		margin-bottom: var(--global-spacing-5);
	}

	.row:last-of-type {
		padding-bottom: var(--global-spacing-5);
		border-bottom: 1px solid #dadada;
	}

	.row.grid-row {
		@media screen and (min-width: 48rem) {
			display: grid;
			gap: 16px;
			grid-template-columns: auto auto;
		}
	}

	.checkout-btn {
		margin-top: var(--global-spacing-5);
	}
}
