.xpmedia-subscriptions-contact-info {
  margin-top: map-get($spacers, 'lg');

  &-title {
    margin-bottom: map-get($spacers, 'md');
  }

  .identity-row {
    width: 100%;
    display: inline-flex;
    align-content: center;
    line-height: 1.3rem;
  }

  .sign-out-btn {
    padding: 0;
    display: inline-block;
    border: hidden;
    background: none;
    font-size: 1rem;
    margin: 0 0 0 1rem;
    text-decoration: underline;
    cursor: pointer;
  }

  .identity-icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }

  .identity-icon .google-identity {
    width: 1rem;
    height: 1rem;
  }

  .identity-icon .facebook-identity {
    width: 1.2rem;
    height: 1.2rem;
  }

  .row {
    margin-bottom: map-get($spacers, 'md');
  }

  .row:last-of-type {
    padding-bottom: map-get($spacers, 'md');
    border-bottom: 1px solid $border-rule-color;
  }

  .checkout-btn {
    margin-top: map-get($spacers, 'md');
  }
}
