.xpmedia-subscription-dialog {
	display: grid;
	grid-template-columns: 1.5rem repeat(10, 1fr) 1.5rem;
	grid-template-rows: auto;
	margin: 4rem auto;
	text-align: center;
	@media screen and (min-width: 48rem) {
		grid-template-columns: repeat(12, 1fr);
		margin: 3rem auto;
	}

	.xpmedia-subscription-dialog-reason-prompt,
	.xpmedia-subscription-dialog-link-prompt {
		color: #575757;
		grid-column: 3/11;
		line-height: 1rem;
		font-size: 0.875rem;
		@media screen and (min-width: 48rem) {
			font-size: 1rem;
			grid-column: 4/10;
			line-height: 1.5rem;
		}
		@media screen and (min-width: 64rem) {
			grid-column: 5/9;
		}
	}

	.xpmedia-subscription-dialog-link-prompt {
		.xpmedia-subscription-dialog-link-prompt-pre-link {
			color: inherit;

			&::after {
				content: " ";
			}
		}

		.xpmedia-subscription-dialog-link-prompt-link {
			color: inherit;
			font-weight: bold;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.xpmedia-subscription-dialog-headline {
		font-size: 1.75rem;
		font-weight: bold;
		line-height: 2rem;
		grid-column: 2/12;
		margin: 1rem 0 0 0;
		@media screen and (min-width: 48rem) {
			font-size: 2.5rem;
			line-height: 3rem;
		}
		@media screen and (min-width: 64rem) {
			grid-column: 4/10;
		}
	}

	.xpmedia-subscription-dialog-subheadline {
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.5rem;
		grid-column: 2/12;
		margin: 1rem 0 0 0;
		@media screen and (min-width: 48rem) {
			font-size: 1.25rem;
		}
		@media screen and (min-width: 64rem) {
			grid-column: 4/10;
		}
	}

	.xpmedia-button {
		grid-column: 2/12;
		margin-top: 2rem;
		@media screen and (min-width: 48rem) {
			grid-column: 4/10;
		}
		@media screen and (min-width: 64rem) {
			grid-column: 5/9;
		}
	}
}
