.xpmedia-subscription-dialog {
	display: grid;
	grid-template-columns: var(--global-spacing-5) repeat(10, 1fr) var(--global-spacing-5);
	grid-template-rows: auto;
	margin: var(--global-spacing-10) auto;
	text-align: center;
	@media screen and (min-width: 48rem) {
		grid-template-columns: repeat(12, 1fr);
		margin: var(--global-spacing-8) auto;
	}

	.xpmedia-subscription-dialog-reason-prompt,
	.xpmedia-subscription-dialog-link-prompt {
		color: #575757;
		grid-column: 3/11;
		line-height: 1rem;
		font-size: 0.875rem;
		@media screen and (min-width: 48rem) {
			font-size: var(--body-font-size);
			grid-column: 4/10;
			line-height: 1.5rem;
		}
		@media screen and (min-width: 64rem) {
			grid-column: 5/9;
		}
	}

	.xpmedia-subscription-dialog-link-prompt {
		.xpmedia-subscription-dialog-link-prompt-pre-link {
			color: inherit;

			&::after {
				content: " ";
			}
		}

		.xpmedia-subscription-dialog-link-prompt-link {
			color: inherit;
			font-weight: bold;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.xpmedia-subscription-dialog-headline {
		font-size: var(--heading-level-3-font-size);
		font-weight: bold;
		line-height: 2rem;
		grid-column: 2/12;
		margin: 1rem 0 0;
		@media screen and (min-width: 48rem) {
			font-size: var(--heading-level-1-font-size);
			line-height: 3rem;
		}
		@media screen and (min-width: 64rem) {
			grid-column: 4/10;
		}
	}

	.xpmedia-subscription-dialog-subheadline {
		font-size: var(--body-font-size);
		font-weight: bold;
		line-height: 1.5rem;
		grid-column: 2/12;
		margin: var(--global-spacing-4) 0 0;
		@media screen and (min-width: 48rem) {
			font-size: var(--heading-level-6-font-size);
		}
		@media screen and (min-width: 64rem) {
			grid-column: 4/10;
		}
	}

	.xpmedia-button {
		grid-column: 2/12;
		margin-top: var(--global-spacing-6);
		@media screen and (min-width: 48rem) {
			grid-column: 4/10;
		}
		@media screen and (min-width: 64rem) {
			grid-column: 5/9;
		}
	}
}
