.payment-form--form {
	margin-top: 24px;
}

.payment-form--container {
	margin-top: 24px;
}

.payment-form--hr {
	margin-top: 32px;
	margin-bottom: 32px;
	color: #000;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

.payment-form--stripe-input-container {
	margin: 8px 4px 4px 4px;
}
