.payment-form--form {
	margin-top: calculateRem(24px);
}

.payment-form--container {
	margin-top: calculateRem(24px);
}

.payment-form--hr {
	margin-top: calculateRem(32px);
	margin-bottom: calculateRem(32px);
}

.payment-form--stripe-input-container {
	margin: calculateRem(4px);
}