.payment-form--title {
	font-size: var(--heading-level-4-font-size);
	font-weight: bold;
}

.payment-form--form {
	margin-top: var(--global-spacing-5);
}

.payment-form--container {
	margin-top: var(--global-spacing-5);
}

.payment-form--hr {
	margin-top: var(--global-spacing-6);
	margin-bottom: var(--global-spacing-6);
	color: #000;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

.payment-form--stripe-input-container {
	margin: var(--global-spacing-2) var(--global-spacing-1) var(--global-spacing-1);
}
