.authors {
  display: flex;
  flex-direction: row;
  a {
    text-decoration: none;
  }

  img {
    margin: 7px;
    width: 84px;
    height: 84px;
    border-radius: 100%;
  }
  .descriptions {
    margin: 7px;
    display: flex;
    flex-direction: column;

    .socialButtons {
      display: flex;
      flex-direction: row;
  
      a {
        background-color: #2980B9;
        text-decoration: none;
        height: 30px;
        width: 112px;
        border-radius: 4px;
        margin-right: 10px;
        margin-top: 5px;
        text-align: center;
  
        span {
          color: white;
          text-align: center;
          font-weight: bold;
          font-size: 14px;
        }
        img {
          width: 1.2rem;
          height: 1.2rem;
          fill: white;
          vertical-align: middle
        }
      }
    }
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 5px;
  }
  
}