.author-bio {
  @media screen and (min-width: map-get($grid-breakpoints, 'sm')){
    margin-top: map-get($spacers, 'md');
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'md')){
    margin-top: map-get($spacers, 'sm');
  }

  margin-bottom: map-get($spacers, 'md');
}
.authors {
  display: flex;
  flex-direction: column;

  .author {
    display: flex;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    margin: 0;
  }

  img {
    margin: map-get($spacers, 'xs');
    width: calculateRem(84px);
    height: calculateRem(84px);
    border-radius: 100%;
  }

  .descriptions {
    margin: map-get($spacers, 'xs');
    display: flex;
    flex-direction: column;

    .socialButtons {
      margin-top: map-get($spacers, 'xs');
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      a {
        text-decoration: none;
        height: map-get($spacers, 'md');
        width: map-get($spacers, 'md');
        margin-right: map-get($spacers, 'xs');
        text-align: center;
      }
    }
  }

  .authorName {
    font-weight: bold;
    margin: map-get($spacers, 'xxs') 0;
    font-size: calculateRem(18px);
    line-height: calculateRem(32px);
    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
      font-size: calculateRem(14px);
      line-height: calculateRem(24px);
    }
  }

  p {
    margin: map-get($spacers, 'xxs') 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'sm')){
      line-height: calculateRem(32px);
      font-size: calculateRem(18px);
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'md')){
      line-height: calculateRem(24px);
      font-size: calculateRem(14px);
    }
  }

}
