.xpmedia-form-headline {
	border-bottom: 1px solid var(--global-neutral-2);
	font-size: var(--heading-level-4-font-size);
	font-weight: 700;
	line-height: 2rem;
	padding-bottom: var(--global-spacing-4);
	margin-bottom: var(--global-spacing-4);
	text-align: center;
	width: 100%;

	@media (min-width: 48rem) {
		font-size: var(--heading-level-4-font-size);
		line-height: 2.5rem;
	}
}

.xpmedia-form-submittable {
	border-bottom: 1px solid var(--global-neutral-2);
	margin-bottom: var(--global-spacing-4);

	.xpmedia-form-field {
		margin: var(--global-spacing-5) 0;

		&:first-of-type {
			margin-top: var(--global-spacing-4);
		}

		&:last-of-type {
			margin-bottom: var(--global-spacing-4);
		}
	}

	.xpmedia-button {
		margin: var(--global-spacing-5) 0;
	}
}

.xpmedia-form-error {
	color: var(--global-red-4);
	font-size: var(--body-font-size);
	margin: var(--global-spacing-5) 0;

	p {
		display: flex;
		line-height: var(--body-line-height);

		svg {
			display: block;
			flex: 0 0 1em;
			margin: 0.125em 0.3125em 0 0;
		}
	}
}
