.xpmedia-form-headline {
  border-bottom: 1px solid $border-rule-color;
  padding-bottom: map-get($spacers, 'sm');
  margin-bottom: map-get($spacers, 'sm');
  text-align: center;
  width: 100%;
}

.xpmedia-form-submittable {
  border-bottom: 1px solid $border-rule-color;
  margin-bottom: map-get($spacers, 'sm');

  .xpmedia-form-field {
    margin: map-get($spacers, 'md') 0;

    &:first-of-type {
      margin-top: map-get($spacers, 'sm');
    }

    &:last-of-type {
      margin-bottom: map-get($spacers, 'sm');
    }
  }

  .xpmedia-button {
    margin: map-get($spacers, 'md') 0;
    width: 100%;
  }
}

.xpmedia-form-error {
  color: $danger-color;
  font-size: calculateRem(16px);
  margin: map-get($spacers, 'md') 0;

  p {
    display: flex;
    line-height: 1.5;

    svg {
      display: block;
      flex: 0 0 1em;
      height: 1em;
      margin: 0.125em 0.3125em 0 0;
      width: 1em;
    }
  }
}
