@use "@wpmedia/arc-themes-components/scss";

.b-application {
	@include scss.block-properties("application");
}

// do not delete this as it's used to inject scss
.skip-main {
	left: -999px;
	position: absolute;
	top: auto;
	z-index: -999;
	transition: none;
	width: auto;
	height: 56px;
	background-color: #fff;
	color: #575757;
	text-decoration: none;
	font-size: 1rem;
	margin: 20px 0 19px;
	padding: 16px;
	border-radius: 4px;
	border: solid 1px #575757;
	font-family: Arial, sans-serif;

	&:focus {
		left: 10px;
		z-index: 999;
	}
}
