$arrow-size: calculateRem(10px);
$border-width: 1px;
$btn-size: calculateRem(32px);
$overlay-z-index: 2;
$section-width: 315px;

.nav-block-search {
  display: flex;
  justify-content: center;
  position: relative;

  &.open.dark {
    border: 0;
  }

  &.open.light {
    border: $border-width solid #dadada;
  }

  &.open {
    input {
      height: $btn-size;
      padding: 4px;
      padding-right: $btn-size;
      width: 200px;
    }

    button {
      border: 0;
      margin: 0;
      position: absolute;
      right: 0;
    }

    > .nav-btn-dark > svg > path {
      fill: #666;
    }
  }

  input {
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    font-size: 0.9em;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.49, 0.37, 0.45, 0.71);
    width: 0;
  }
}

.news-theme-navigation-container {
  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    .nav-block-search {
      display: none;
    }
  }
}

.nav-block-sections {
  background: rgba(25, 25, 25, 0.5);
  flex-direction: column;
  -ms-overflow-style: none;
  position: absolute;
  scrollbar-width: none;
  top: 0;
  transition: transform 300ms ease-in-out;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  &.open {
    height: 100vh;
    overflow-y: scroll;
    transform: translate(0, 0);
  }

  &.closed {
    transform: translate(-$section-width, 0);
    width: 0;
  }

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    .nav-block-search {
      display: none;
    }

    ul.section-menu > li a {
      padding: 12px 0;
    }
  }

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    .submenu-caret,
    .subsection-container {
      display: none;
    }
  }

  * {
    display: flex;
  }

  .inner-drawer-nav {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    width: $section-width;
  }

  .nav-block-search {
    border-bottom: $border-width solid #dadada;
    margin: 16px 20px 0;
    padding-bottom: 16px;

    input {
      flex: 1;
    }
  }

  ul.section-menu,
  ul.subsection-menu {
    flex: 1;
    flex-direction: column;
  }

  ul.section-menu {
    padding: 0;

    > li {
      font-size: 14px;
      font-weight: bold;
      list-style: none;
      padding: 0 20px;
      position: relative;

      a {
        align-items: center;
        color: #fff;
        flex: 1;
        justify-content: space-between;
        padding: 14px 0;
        text-decoration: none;

        @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
          padding: 12px 0;
        }
      }

      &:hover {
        background: darken(#292929, 20%);

        .subsection-container {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .subsection-container {
    opacity: 0;
    position: relative;
    transition: visibility 0s, opacity 250ms step-end 200ms;
    visibility: hidden;

    .arrow-left {
      border-bottom: $arrow-size solid transparent;
      border-right: $arrow-size solid #fff;
      border-top: $arrow-size solid transparent;
      height: 0;
      left: -$arrow-size;
      position: absolute;
      top: 15px;
      width: 0;
      z-index: ($overlay-z-index + 2);
    }
  }

  ul.subsection-menu {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 20px 0 rgba(42, 42, 42, 0.5);
    left: 0;
    list-style: none;
    margin: 0;
    padding: 24px;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: ($overlay-z-index + 1);

    > li {
      > a {
        color: #191919;
        padding: 8px 0;

        &:hover {
          color: darken(#191919, 20%);
        }
      }

      &:first-of-type > a {
        padding-top: 0;
      }

      &:last-of-type > a {
        padding-bottom: 0;
      }
    }
  }
}
