.news-theme-navigation {
  height: 54px;
  display: flex;
  align-items: center;
  background-color: $ui-dark-secondary-color;

  padding-left: map-get($spacers, 'sm');
  padding-right: map-get($spacers, 'sm');
  @media screen and (min-width: map-get($grid-breakpoints, 'md')){
    padding: map-get($spacers, 'xxs');
  }

  .nav-search, .nav-sections {
    margin: 0 5px;
    height: 32px;
    border: 0;
    white-space: nowrap;

    &.border{
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 2px;
      background-color: transparent;
    }

    > img {
      fill: white;
    }
  }

  .nav-sections {
    display: flex;
    align-items: center;

    > span, > img {
      flex: 1 0 auto;
    }

    > span {
      color: white;
      font-size: 14px;
      padding: 0 8px;
    }
  }

  > div {
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      height: 24px;
      width:auto;

      @media screen and (min-width: map-get($grid-breakpoints, 'md')){
        height: 32px;
      }
    }
  }
}
