@import "~@arc-test-org/news-theme-css/scss/index.scss";

html, body {
  width: 100%;
  height: 100%;
}

#fusion-app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .container .container{
    width:100%;
  }

  main {
    flex-grow: 1;
    margin-top:30px;
    margin-bottom: 30px;

  }

  .temp-border{
    border:2px solid lightsalmon;
    padding:4px;
  }
}
