.small-promo {
  box-shadow: inset 0 -1px 0 0 $ui-light-gray;

  .sm-promo-headline {
    color: $ui-primary-font-color;
    font-size: calculateRem(16px);
    font-weight: normal;
    line-height: calculateRem(24px);
    margin: 0;
    padding: 0 map-get($spacers, 'xxs') 0 0;
    text-decoration: none;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 0;
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .sm-promo-padding-btm {
    padding-bottom: map-get($spacers, 'xs');
  }
}
