.arcad_feature {
  .arcad_container {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    color: $ui-medium-gray;
    font-size: calculateRem(12px);
    line-height: calculateRem(16px);

    .arcad {
      div[id^='google_ads_iframe'] {
        & > iframe[id^='google_ads_iframe'] {
          margin-bottom: calculateRem(32px);
        }
      }

      &.pb-ad-admin {
        margin-bottom: calculateRem(32px);
        font-size: calculateRem(14px);
        line-height: calculateRem(18px);
        color: #fff;
      }
    }
  }
}

.layout-section .arcad_feature {
  margin-bottom: 0;
}
