.advertisement-label {
  color: $ui-medium-gray;
  font-size: calculateRem(12px);
  line-height: calculateRem(16px);

  &--mobile {
    @media only screen and (min-width: map-get($grid-breakpoints, md)) {
      display: none;
    }
  }

  &--desktop {
    @media only screen and (max-width: map-get($grid-breakpoints-max, sm)) {
      display: none;
    }
  }
}

.arcad_feature {
  .arcad_container {
    margin-left: auto;
    margin-right: auto;
    width: min-content;

    .arcad {
      text-align: center;

      div[id^='google_ads_iframe'] {
        text-align: center;
      }
    }
  }
}
