.xpmedia-subs-header-dropdown-list-item-button {
  // undo button styles
  background: none;
  border: 0;
  padding: 0;

  font-size: calculateRem(14px);

  &:hover {
    // darkens all nested elements on hover
    // see css filter docs https://developer.mozilla.org/en-US/docs/Web/CSS/filter
    filter: brightness(0.85);

    // add text decoration
    text-decoration: underline;
  }
}
