@use "@wpmedia/arc-themes-components/scss" with (
	$breakpoints: (
		default: "min-width: 0",
		desktop: "min-width: 48rem",
	),
	$global: (
		"black": #000000,
		"white": #ffffff,

		"blue-1": #ebefff,
		"blue-2": #b0c3f2,
		"blue-3": #7aa2e5,
		"blue-4": #4a89d8,
		"blue-5": #1e78cb,
		"blue-6": #1458a9,
		"blue-7": #0c3d87,
		"blue-8": #062665,
		"blue-9": #021443,
		"blue-10": #000721,

		"red-1": #ff8a8a,
		"red-2": #e65555,
		"red-3": #ce2929,
		"red-4": #b50505,
		"red-5": #9c0000,
		"red-6": #840000,
		"red-7": #6b0000,
		"red-8": #520000,
		"red-9": #3a0000,
		"red-10": #210000,

		"orange-1": #fa714b,
		"orange-2": #e24f23,
		"orange-3": #c93302,
		"orange-4": #b12e00,
		"orange-5": #982a00,
		"orange-6": #802500,
		"orange-7": #682000,
		"orange-8": #4f1900,
		"orange-9": #371200,
		"orange-10": #1f0b00,

		"green-1": #80d971,
		"green-2": #57c244,
		"green-3": #34ab1f,
		"green-4": #189402,
		"green-5": #137d00,
		"green-6": #0f6600,
		"green-7": #0c4f00,
		"green-8": #083800,
		"green-9": #052100,
		"green-10": #020a00,

		"neutral-1": #e6efff,
		"neutral-2": #c3cfe3,
		"neutral-3": #a3b0c6,
		"neutral-4": #8593aa,
		"neutral-5": #69778e,
		"neutral-6": #4f5c71,
		"neutral-7": #384355,
		"neutral-8": #232b39,
		"neutral-9": #10151c,
		"neutral-10": #000000,

		// 4px
		"spacing-1": 0.25rem,
		// 8px
		"spacing-2": 0.5rem,
		// 12px
		"spacing-3": 0.75rem,
		// 16px
		"spacing-4": 1rem,
		// 24px
		"spacing-5": 1.5rem,
		// 32px
		"spacing-6": 2rem,
		// 40px
		"spacing-7": 2.5rem,
		// 48px
		"spacing-8": 3rem,
		// 56px
		"spacing-9": 3.5rem,
		// 64px
		"spacing-10": 4rem,
		// 72px
		"spacing-11": 4.5rem,
		// 80px
		"spacing-12": 5rem,
		// 88px
		"spacing-13": 5.5rem,
		// 96px
		"spacing-14": 6rem,
		// 104px
		"spacing-15": 6.5rem,
		// 112px
		"spacing-16": 7rem,
		// 120px
		"spacing-17": 7.5rem,

		"font-weight-1": 100,
		"font-weight-2": 200,
		"font-weight-3": 300,
		"font-weight-4": 400,
		"font-weight-5": 500,
		"font-weight-6": 600,
		"font-weight-7": 700,
		"font-weight-8": 800,
		"font-weight-9": 900,

		// 10px
		"font-size-1": 0.625rem,
		// 12px
		"font-size-2": 0.75rem,
		// 14px
		"font-size-3": 0.875rem,
		// 16px
		"font-size-4": 1rem,
		// 18px
		"font-size-5": 1.125rem,
		// 19px
		"font-size-6": 1.1875rem,
		// 20px
		"font-size-7": 1.25rem,
		// 22px
		"font-size-8": 1.375rem,
		// 24px
		"font-size-9": 1.5rem,
		// 28px
		"font-size-10": 1.75rem,
		// 32px
		"font-size-11": 2rem,
		// 36px
		"font-size-12": 2.25rem,
		// 41px
		"font-size-13": 2.56rem,
		// 48px
		"font-size-14": 3rem,
		// 52px
		"font-size-15": 3.25rem,

		"line-height-1": 1,
		"line-height-2": 1.1,
		"line-height-3": 1.2,
		"line-height-4": 1.3,
		"line-height-5": 1.4,
		"line-height-6": 1.5,

		"box-shadow-1": 0px 0px 16px rgba(25, 25, 25, 0.4),
		"z-index-1": 1,
		"z-index-2": 10,
		"z-index-3": 50,
		"z-index-4": 100,
		"z-index-5": 500,

		"border-radius-1": 0.25rem,
		"border-radius-2": 20rem,
		"border-radius-3": 100vmax,

		"border-style-1": solid,
		"border-width-1": 1px,
	),
	$alias: (
		// Font families
		"font-family-primary": "Inter",
		"font-family-secondary": "Lora",
		// Colors
		"color-primary": var(--global-black),
		"text-color": var(--global-neutral-8),
		"text-color-subtle": var(--global-neutral-5),
		"text-color-warning": var(--global-orange-9),
		"text-color-danger": var(--global-red-9),
		"text-color-success": var(--global-green-9),
		"background-color": var(--global-white),
		"background-color-warning": var(--global-orange-1),
		"background-color-danger": var(--global-red-1),
		"background-color-success": var(--global-green-1),
		"icon-fill-color": var(--global-neutral-8),
		"icon-fill-color-subtle": var(--global-neutral-5),
		"border-color": var(--global-neutral-4),
		"form-background-color": var(--global-white),
		"form-border-color": var(--global-neutral-5),
		"form-border-color-primary": var(--global-blue-5),
		"form-border-color-warning": var(--global-orange-2),
		"form-border-color-danger": var(--global-red-4),
		"form-border-color-success": var(--global-green-5),
		// Border Radius
		"border-radius": var(--global-border-radius-1),
		"border-radius-pill": var(--global-border-radius-2),
		"border-radius-circle": var(--global-border-radius-3),
		// Typography
		// headings
		"heading-level-1-font-size": var(--global-font-size-12),
		"heading-level-1-line-height": var(--global-line-height-3),
		"heading-level-1-font-weight": var(--global-font-weight-7),
		"heading-level-2-font-size": var(--global-font-size-11),
		"heading-level-2-line-height": var(--global-line-height-4),
		"heading-level-2-font-weight": var(--global-font-weight-7),
		"heading-level-3-font-size": var(--global-font-size-10),
		"heading-level-3-line-height": var(--global-line-height-4),
		"heading-level-3-font-weight": var(--global-font-weight-7),
		"heading-level-4-font-size": var(--global-font-size-9),
		"heading-level-4-line-height": var(--global-line-height-5),
		"heading-level-4-font-weight": var(--global-font-weight-7),
		"heading-level-5-font-size": var(--global-font-size-7),
		"heading-level-5-line-height": var(--global-line-height-5),
		"heading-level-5-font-weight": var(--global-font-weight-7),
		"heading-level-6-font-size": var(--global-font-size-5),
		"heading-level-6-line-height": var(--global-line-height-5),
		"heading-level-6-font-weight": var(--global-font-weight-7),
		// body
		"body-font-weight": var(--global-font-weight-4),
		"body-font-size": var(--global-font-size-4),
		"body-line-height": var(--global-line-height-3),
		// body : small
		"body-font-weight-small": var(--global-font-weight-4),
		"body-font-size-small": var(--global-font-size-3),
		"body-line-height-small": var(--global-line-height-2),
		// body : tiny
		"body-font-weight-tiny": var(--global-font-weight-4),
		"body-font-size-tiny": var(--global-font-size-2),
		"body-line-height-tiny": var(--global-line-height-1),
		// Layout
		"layout-max-width": 1440,
		"content-max-width": 1216,
		//
		// --content-scale-width identifies the inner document width for header and content
		//
		"content-scale-width": calc(var(--content-max-width) / var(--layout-max-width) * 100%),
	),
	$tokens: (
		default: (
			components: (
				attribution: (
					color: var(--text-color),
					font-size: var(--body-font-size-small),
					line-height: var(--body-line-height-small),
				),
				badge: (
					align-self: baseline,
					border-radius: var(--border-radius-pill),
					color: var(--global-white),
					font-size: var(--body-font-size-tiny),
					font-weight: var(--heading-level-5-font-weight),
					line-height: var(--body-line-height-tiny),
					padding: var(--global-spacing-1) var(--global-spacing-2),
				),
				badge-danger: (
					background-color: var(--status-color-danger),
				),
				badge-default: (
					background-color: var(--text-color),
				),
				badge-light: (
					background-color: var(--text-color-subtle),
				),
				badge-primary: (
					background-color: var(--color-primary),
				),
				badge-success: (
					background-color: var(--status-color-success),
				),
				badge-warning: (
					background-color: var(--status-color-warning),
				),
				body: (
					color: var(--text-color),
					font-family: var(--font-family-primary),
					font-size: var(--body-font-size),
					line-height: var(--body-line-height),
				),
				button: (
					border-color: transparent,
					border-style: var(--global-border-style-1),
					border-width: var(--global-border-width-1),
					border-radius: var(--border-radius),
					font-weight: var(--heading-level-5-font-weight),
					gap: var(--global-spacing-2),
				),
				button-small: (
					font-size: var(--body-font-size-small),
					line-height: var(--body-line-height-small),
					padding: var(--global-spacing-1) var(--global-spacing-4),
				),
				button-medium: (
					font-size: var(--body-font-size-small),
					line-height: var(--body-line-height-small),
					padding: var(--global-spacing-3) var(--global-spacing-4),
				),
				button-large: (
					font-size: var(--body-font-size),
					line-height: var(--body-line-height),
					padding: var(--global-spacing-4),
				),
				button-default: (
					background-color: var(--global-white),
					border-color: var(--global-neutral-7),
					color: var(--global-neutral-7),
				),
				button-primary: (
					background-color: var(--color-primary),
					color: var(--global-white),
				),
				button-primary-hover: (
					background-color: var(--global-neutral-7),
				),
				button-primary-reverse: (
					background-color: transparent,
					border-color: var(--color-primary),
					color: var(--color-primary),
				),
				button-primary-reverse-hover: (
					border-color: var(--global-neutral-7),
					color: var(--global-neutral-7),
				),
				button-secondary: (
					background-color: var(--global-white),
					color: var(--global-black),
				),
				button-secondary-hover: (
					background-color: var(--global-neutral-7),
					color: var(--global-white),
				),
				button-secondary-reverse: (
					background-color: transparent,
					border-color: var(--global-white),
					color: var(--global-white),
				),
				button-secondary-reverse-hover: (
					border-color: var(--global-neutral-7),
					color: var(--global-neutral-7),
				),
				carousel: (
					--slides: 1,
				),
				carousel-actions: (
					display: none,
					padding-left: var(--global-spacing-4),
					padding-right: var(--global-spacing-4),
				),
				carousel-button: (
					box-shadow: var(--global-box-shadow-1),
					border-radius: var(--border-radius),
					background-color: var(--global-white),
					height: var(--global-spacing-8),
					width: var(--global-spacing-8),
				),
				carousel-track: (
					gap: var(--global-spacing-2),
					max-width: var(--content-scale-width),
					width: 100%,
				),
				date: (
					font-size: var(--body-font-size-small),
					line-height: var(--body-line-height-small),
				),
				heading: (
					font-family: var(--font-family-primary),
					font-size: var(--heading-level-3-font-size),
					font-weight: var(--heading-level-3-font-weight),
					line-height: var(--heading-level-3-line-height),
				),
				icon: (
					fill: var(--icon-fill-color),
					height: var(--global-spacing-5),
					width: var(--global-spacing-5),
				),
				image: (
					max-width: 100%,
				),
				input: (
					align-items: flex-start,
					display: flex,
					flex-direction: column,
					gap: var(--global-spacing-1),
				),
				input-input: (
					border: var(--global-border-width-1) var(--global-border-style-1) var(--form-border-color),
					border-radius: var(--border-radius),
					padding: var(--global-spacing-4) var(--global-spacing-2),
				),
				input-small-input: (
					padding: var(--global-spacing-1) var(--global-spacing-2),
				),
				input-input-focus: (
					outline: solid 2px var(--form-border-color),
					outline-offset: 1px,
				),
				input-label: (
					font-weight: var(--global-font-weight-7),
				),
				input-error-input: (
					border-color: var(--status-color-danger),
				),
				input-error-input-focus: (
					outline-color: var(--status-color-danger),
				),
				input-success-input: (
					border-color: var(--status-color-success),
				),
				input-success-input-focus: (
					outline-color: var(--status-color-success),
				),
				input-warning-input: (
					border-color: var(--status-color-warning),
				),
				input-warning-input-focus: (
					outline-color: var(--status-color-warning),
				),
				link: (
					color: var(--color-primary),
				),
				link-active: (
					text-decoration: none,
				),
				link-hover: (
					text-decoration: none,
				),
				media-item: (
					align-items: stretch,
					display: flex,
					flex-direction: column,
					gap: var(--global-spacing-2),
				),
				media-item-fig-caption: (
					color: var(--text-color-subtle),
					font-size: var(--body-font-size-tiny),
					line-height: var(--body-line-height-tiny),
				),
				media-item-title: (
					font-weight: var(--global-font-weight-7),
				),
				overline: (
					color: var(--text-color),
					font-size: var(--heading-level-5-font-size),
					font-weight: var(--heading-level-5-font-weight),
					line-height: var(--heading-level-5-line-height),
					text-decoration: none,
				),
				paragraph: (
					font-family: var(--font-family-secondary),
					font-size: var(--body-font-size),
					font-weight: var(--body-font-weight),
					line-height: var(--body-line-height),
				),
				pill: (
					background-color: var(--color-primary),
					border-radius: var(--border-radius-pill),
					color: var(--global-white),
					font-size: var(--body-font-size-tiny),
					padding: var(--global-spacing-1) var(--global-spacing-4),
					text-decoration: none,
				),
				pill-hover: (
					background-color: var(--global-neutral-7),
				),
				stack-divider-vertical: (
					border-bottom: var(--global-border-width-1) var(--global-border-style-1)
						var(--border-color),
				),
				stack-divider-horizontal: (
					border: none,
					border-left: var(--global-border-width-1) var(--global-border-style-1) var(--border-color),
					width: 1px,
					height: auto,
				),
				video: (
					margin: auto,
				),
				video-frame: (
					background-color: var(--global-black),
				),
			),
			blocks: (
				alert-bar: (
					align-items: flex-start,
					background-color: var(--global-red-5),
					display: flex,
					flex-wrap: nowrap,
					justify-content: space-between,
					word-break: break-word,
					components: (
						button-default: (
							background: none,
							border-width: 0,
							flex: 0 0 auto,
						),
						button-large: (
							margin-bottom: var(--global-spacing-1),
							margin-top: var(--global-spacing-1),
						),
						link: (
							color: var(--global-white),
							font-family: var(--font-family-primary),
							font-size: var(--body-font-size-small),
							font-weight: var(--global-font-weight-7),
							padding-bottom: var(--global-spacing-5),
							padding-left: var(--global-spacing-4),
							padding-right: var(--global-spacing-5),
							padding-top: var(--global-spacing-5),
							text-decoration: none,
						),
						icon: (
							fill: var(--global-white),
						),
					),
				),
				category-carousel: (
					gap: var(--global-spacing-2),
					components: (
						heading: (
							-webkit-line-clamp: 2,
						),
						icon: (
							height: var(--global-font-size-9),
							width: var(--global-font-size-9),
						),
					),
				),
				category-carousel-title: (
					font-size: var(--heading-level-5-font-size),
					margin-left: auto,
					margin-right: auto,
					max-width: var(--content-scale-width),
					width: 100%,
				),
				category-carousel-slide: (
					components: (
						stack: (
							gap: var(--global-spacing-1),
						),
					),
				),
				category-carousel-slide-title: (
					font-size: var(--body-font-size-tiny),
				),
				hero-stacked: (
					gap: var(--global-spacing-5),
				),
				hero: (
					color: var(--global-black),
					components: (
						button: (
							text-decoration: none,
						),
						stack: (
							gap: var(--global-spacing-4),
						),
						heading: (
							font-size: var(--heading-level-2-font-size),
							line-height: var(--heading-level-2-line-height),
						),
					),
				),
				hero-light: (
					color: var(--global-white),
				),
				hero-dark: (
					color: var(--global-black),
				),
				hero-image: (
					max-height: 65vh,
					width: 100%,
				),
				hero-image-stacked: (
					height: auto,
					width: 100%,
				),
				hero-text-overlay: (
					margin: 0 auto,
					max-width: var(--content-scale-width),
					width: 100%,
				),
				hero-text-left: (
					justify-self: flex-start,
					max-width: var(--content-scale-width),
					width: 100%,
				),
				hero-text-stacked: (
					margin: 0 auto,
					components: (
						paragraph: (
							max-width: 24rem,
						),
					),
				),
				hero-subheadline: (
					components: (
						heading: (
							font-size: var(--heading-level-5-font-size),
							font-weight: var(--heading-level-5-font-weight),
							line-height: var(--heading-level-5-line-height),
						),
					),
				),
				product-assortment-carousel: (
					components: (
						icon: (
							height: var(--global-font-size-9),
							width: var(--global-font-size-9),
						),
						link: (
							color: var(--global-neutral-7),
						),
					),
					gap: var(--global-spacing-2),
				),
				product-assortment-carousel-title: (
					font-size: var(--heading-level-5-font-size),
					margin-left: auto,
					margin-right: auto,
					max-width: var(--content-scale-width),
					width: 100%,
				),
				product-assortment-carousel-product: (
					components: (
						heading: (
							-webkit-line-clamp: 2,
							font-weight: var(--body-font-weight),
							line-height: var(--body-line-height),
						),
						price: (
							gap: var(--global-spacing-1),
						),
						price-list: (
							color: var(--global-neutral-5),
							text-decoration: line-through,
						),
					),
					gap: var(--global-spacing-1),
				),
				product-assortment-carousel-product-single-price: (
					components: (
						price-list: (
							color: var(--global-neutral-7),
							text-decoration: none,
						),
					),
				),
				product-information: (
					components: (
						heading: (
							color: var(--global-black),
							font-size: var(--heading-level-5-font-size),
							font-weight: var(--heading-level-5-font-weight),
							line-height: var(--heading-level-5-line-height),
						),
						stack: (
							gap: var(--global-spacing-2),
						),
						price: (
							color: var(--text-color),
							font-size: var(--heading-level-6-font-size),
							font-weight: var(--body-font-weight-4),
						),
					),
				),
				quilted-image: (
					margin-left: auto,
					margin-right: auto,
					width: 100%,
					components: (
						heading: (
							font-size: var(--heading-level-5-font-size),
							font-weight: var(--heading-level-5-font-weight),
							line-height: var(--heading-level-5-line-height),
							margin-left: auto,
							margin-right: auto,
							margin-bottom: var(--global-spacing-2),
							max-width: var(--content-scale-width),
							width: 100%,
						),
					),
				),
				quilted-image__wrapper: (
					gap: var(--global-spacing-6),
					grid-template-areas: "top" "middle" "bottom",
					grid-auto-flow: "column",
					margin: 0 auto,
					width: 100%,
					max-width: 100%,
				),
				quilted-image__overlay-text--light: (
					color: var(--global-white),
				),
				quilted-image__overlay-text--dark: (
					color: var(--global-black),
				),
				quilted-image__media-panel: (
					text-decoration: none,
				),
				quilted-image__overlay: (
					align-self: end,
					margin-bottom: var(--global-spacing-4),
					margin-left: auto,
					margin-right: auto,
					max-width: var(--content-scale-width),
					width: 100%,
					components: (
						paragraph: (
							font-weight: var(--heading-level-5-font-weight),
							line-height: var(--heading-level-5-line-height),
							font-size: var(--heading-level-5-font-size),
						),
						stack: (
							gap: var(--global-spacing-4),
							align-items: start,
						),
					),
				),
				right-rail: (
					display: grid,
					gap: var(--global-spacing-6),
				),
				right-rail-navigation: (
					position: sticky,
					top: 0,
					width: 100%,
					z-index: 9,
				),
				right-rail-main: (
					display: grid,
					gap: var(--global-spacing-6),
					width: 100%,
					components: (
						stack: (
							gap: var(--global-spacing-5),
						),
					),
				),
				right-rail-rail-container: (
					max-width: initial,
					width: 100%,
					margin: auto,
					grid-template-columns: initial,
					grid-template-rows: 1fr,
					gap: var(--global-spacing-5),
				),
				right-rail-main-right-rail: (
					grid-column: 1,
				),
				right-rail-main-interior-item: (
					grid-column: 1,
				),
				single-column-regular-main: (
					components: (
						stack: (
							gap: var(--global-spacing-11),
						),
					),
				),
				story-carousel: (
					components: (
						carousel-actions: (
							margin-top: 0,
							// Need to have the setting here so desktop gets included
						),
						icon: (
							height: var(--global-font-size-9),
							width: var(--global-font-size-9),
						),
					),
					gap: var(--global-spacing-2),
				),
				story-carousel-title: (
					font-size: var(--heading-level-5-font-size),
					margin-left: auto,
					margin-right: auto,
					max-width: var(--content-scale-width),
					width: 100%,
				),
				story-carousel-card: (
					components: (
						heading: (
							-webkit-line-clamp: 2,
							font-size: var(--body-font-size-small),
							line-height: var(--body-line-height-small),
							color: var(--color-primary),
						),
						paragraph: (
							-webkit-line-clamp: 3,
							font-weight: var(--body-font-weight-small),
							font-size: var(--body-font-size-small),
							line-height: var(--body-line-height-small),
							color: var(--text-color),
						),
					),
					gap: var(--global-spacing-1),
				),
				video-player: (
					components: (
						media-item: (
							width: 100%,
							margin: auto,
						),
					),
				),
				video-player-feature: (
					gap: 0,
					components: (
						media-item-fig-caption: (
							margin-bottom: var(--global-spacing-2),
							margin-left: var(--global-spacing-4),
							margin-right: var(--global-spacing-4),
							margin-top: var(--global-spacing-2),
						),
					),
				),
				video-player-feature-meta: (
					margin: auto,
					width: var(--content-scale-width),
					components: (
						stack: (
							gap: var(--global-spacing-3),
						),
					),
				),
				video-player-inline: (
					gap: var(--global-spacing-3),
					components: (
						heading: (
							font-size: var(--heading-level-4-font-size),
							line-height: var(--heading-level-4-line-height),
						),
						media-item: (
							width: 100%,
							margin: auto,
						),
						media-item-fig-caption: (
							margin-bottom: 0,
							margin-left: 0,
							margin-right: 0,
							margin-top: var(--global-spacing-2),
						),
						stack: (
							gap: 0,
						),
					),
				),
				video-player-inline-video: (
					gap: 0,
				),
			),
		),
		desktop: (
			alias: (
				"body-font-size": var(--global-font-size-4),
				"body-line-height": var(--global-line-height-4),
				"body-font-size-small": var(--global-font-size-3),
				"body-line-height-small": var(--global-line-height-3),
				"body-font-size-tiny": var(--global-font-size-2),
				"body-line-height-tiny": var(--global-line-height-2),
				"heading-level-1-font-size": var(--global-font-size-15),
				"heading-level-2-font-size": var(--global-font-size-14),
				"heading-level-2-line-height": var(--global-line-height-3),
				"heading-level-3-font-size": var(--global-font-size-13),
				"heading-level-3-line-height": var(--global-line-height-3),
				"heading-level-4-font-size": var(--global-font-size-12),
				"heading-level-4-line-height": var(--global-line-height-3),
				"heading-level-5-font-size": var(--global-font-size-11),
				"heading-level-5-line-height": var(--global-line-height-4),
				"heading-level-6-font-size": var(--global-font-size-7),
			),
			components: (
				carousel: (
					--slides: 4,
				),
				carousel-actions: (
					display: flex,
				),
				carousel-track: (
					gap: var(--global-spacing-6),
				),
			),
			blocks: (
				alert-bar: (
					components: (
						link: (
							font-size: var(--body-font-size),
						),
					),
				),
				category-carousel-slide-title: (
					font-size: var(--body-font-size-small),
				),
				hero: (
					components: (
						heading: (
							font-size: var(--heading-level-2-font-size),
							line-height: var(--heading-level-2-line-height),
						),
					),
				),
				hero-image: (
					max-height: auto,
					width: 100%,
				),
				hero-text-left: (
					components: (
						paragraph: (
							max-width: 65%,
						),
					),
				),
				hero-subheadline: (
					components: (
						heading: (
							font-size: var(--heading-level-5-font-size),
							line-height: var(--heading-level-5-line-height),
						),
					),
				),
				product-assortment-carousel-title: (
					font-size: var(--heading-level-5-font-size),
				),
				product-information: (
					components: (
						heading: (
							font-size: var(--global-font-size-9),
						),
						price: (
							font-size: var(--global-font-size-7),
						),
					),
				),
				quilted-image: (
					max-width: var(--content-scale-width),
					width: 100%,
					components: (
						heading: (
							font-size: var(--heading-level-5-font-size),
							line-height: var(--heading-level-5-line-height),
						),
					),
				),
				quilted-image__overlay: (
					margin-left: var(--global-spacing-6),
					margin-bottom: var(--global-spacing-6),
					max-width: 100%,
					components: (
						paragraph: (
							font-size: var(--heading-level-5-font-size),
						),
						stack: (
							gap: var(--global-spacing-4),
						),
					),
				),
				quilted-image__wrapper: (
					grid-template-areas: "top top" "bottom bottom",
					max-width: var(--content-scale-width),
					width: 100%,
				),
				right-rail: (
					gap: var(--global-spacing-10),
				),
				right-rail-main: (
					gap: var(--global-spacing-10),
				),
				right-rail-rail-container: (
					max-width: calc(var(--content-max-width) * 1px),
					width: var(--content-scale-width),
					margin: auto,
					grid-template-columns: repeat(12, 1fr),
					gap: var(--global-spacing-6),
					grid-template-rows: initial,
				),
				right-rail-main-right-rail: (
					grid-column: span 5,
				),
				right-rail-main-interior-item: (
					grid-column: span 7,
				),
				single-column-regular-main: (
					components: (
						stack: (
							gap: var(--global-spacing-16),
						),
					),
				),
				story-carousel: (
					components: (
						carousel-actions: (
							margin-top: -7rem,
						),
					),
				),
				story-carousel-title: (
					font-size: var(--heading-level-5-font-size),
				),
				video-player-feature-meta: (
					components: (
						paragraph: (
							font-size: var(--body-font-size),
						),
					),
				),
				video-player-inline: (
					components: (
						heading: (
							font-size: var(--heading-level-3-font-size),
							line-height: var(--heading-level-3-line-height),
						),
					),
				),
			),
		),
	)
);

@use "../../blocks/alert-bar-block";
@use "../../blocks/category-carousel-block";
@use "../../blocks/hero-block";
@use "../../blocks/product-information-block";
@use "../../blocks/quilted-image-block";
@use "../../blocks/story-carousel-block";
@use "../../blocks/single-column-layout-block";
@use "../../blocks/right-rail-block";
@use "../../blocks/right-rail-advanced-block";
@use "../../blocks/video-player-block";
