@use "@wpmedia/arc-themes-components/scss" with (
	$breakpoints: (
		default: "min-width: 0",
		desktop: "min-width: 48rem",
	),
	$global: (
		"black": #000000,

		"spacing-1": 0.25rem,
		// 4px
		"spacing-2": 0.5rem,
		// 8px
		"spacing-3": 0.75rem,
		// 12px
		"spacing-4": 1rem,
		// 16px
		"spacing-5": 1.5rem,
		// 24px
		"spacing-6": 2rem,
		// 32px
		"spacing-7": 2.5rem,
		// 40px
		"spacing-8": 3rem,
		// 48px
		"spacing-9": 3.5rem,
		// 56px
		"spacing-10": 4rem,
		// 64px
		"spacing-11": 4.5rem,
		// 72px
		"spacing-12": 5rem,
		// 80px
		"spacing-13": 5.5rem,
		// 88px
		"spacing-14": 6rem,
		// 96px
		"spacing-15": 6.5rem,
		// 104px
		"spacing-16": 7rem,
		// 112px
		"spacing-17": 7.5rem,

		"font-size-1": 0.625rem,
		// 10px
		"font-size-2": 0.75rem,
		// 12px
		"font-size-3": 0.875rem,
		// 14px
		"font-size-4": 1rem,
		// 16px
		"font-size-5": 1.125rem,
		// 18px
		"font-size-6": 1.1875rem,
		// 19px
		"font-size-7": 1.25rem,
		// 20px
		"font-size-8": 1.375rem,
		// 22px
		"font-size-9": 1.5rem,
		// 24px
		"font-size-10": 1.75rem,
		// 28px
		"font-size-11": 2rem,
		// 32px
		"font-size-12": 2.25rem,
		// 36px
		"font-size-13": 2.56rem,
		// 41px
		"font-size-14": 3rem,
		// 48px
		"font-size-15": 3.25rem,

		// 52px
		"line-height-1": 0.875rem,
		// 14px
		"line-height-2": 1rem,
		// 16px
		"line-height-3": 1.25rem,
		// 20px
		"line-height-4": 1.5rem,
		// 24px
		"line-height-5": 2rem,
		// 32px
		"line-height-6": 2.125rem,
		// 34px
		"line-height-7": 2.5rem,
		// 40px
		"line-height-8": 3rem,
		// 48px
		"line-height-9": 3.5rem,
		// 56px
		"line-height-10": 3.875rem,
		// 62px
	),
	$alias: (
		// Layout
		"layout-max-width": 1600,
		"content-max-width": 1440,
		"content-scale-width": calc(var(--content-max-width) / var(--layout-max-width) * 100%),
	),
	$tokens: (
		default: (
			components: (
				media-item-fig-caption: (
					color: var(--global-neutral-5),
					font-size: var(--global-font-size-2),
					line-height: var(--global-line-height-2),
				),
				video: (
					margin: auto,
				),
				video-frame: (
					background-color: var(--global-black),
				),
			),
			blocks: (
				right-rail: (
					gap: var(--global-spacing-6),
				),
				right-rail-navigation: (
					position: sticky,
					top: 0,
					width: 100%,
					z-index: 9,
					margin: 0 0 var(--global-spacing-5) 0,
				),
				right-rail-full-width-1: (
					margin: 0 0 var(--global-spacing-5) 0,
				),
				right-rail-main: (
					gap: var(--global-spacing-6),
					max-width: calc(var(--content-max-width) * 1px),
					width: var(--content-scale-width),
					margin: auto,
				),
				right-rail-full-width-2: (
					margin: var(--global-spacing-6) 0 0 0,
				),
				right-rail-rail-container: (
					grid-template-columns: initial,
					grid-template-rows: 1fr,
					gap: var(--global-spacing-6),
				),
				right-rail-main-right-rail: (
					padding: initial,
				),
				right-rail-main-interior-item: (
					padding: initial,
					border-right: initial,
				),
				right-rail-footer: (
					margin: var(--global-spacing-10) 0 var(--global-spacing-8) 0,
				),
				right-rail-advanced: (
					gap: var(--global-spacing-6),
				),
				right-rail-advanced-navigation: (
					position: sticky,
					top: 0,
					width: 100%,
					z-index: 9,
					margin: 0 0 var(--global-spacing-5) 0,
				),
				right-rail-advanced-full-width-1: (
					margin: 0 0 var(--global-spacing-5) 0,
				),
				right-rail-advanced-main: (
					gap: var(--global-spacing-6),
					max-width: calc(var(--content-max-width) * 1px),
					width: var(--content-scale-width),
					margin: auto,
				),
				right-rail-advanced-full-width-2: (
					margin: var(--global-spacing-6) 0 0 0,
				),
				right-rail-advanced-rail-container: (
					grid-template-areas: "main-right-rail-top" "main-interior-item-1" "main-right-rail-middle"
						"main-interior-item-2" "main-right-rail-bottom",
					grid-template-columns: initial,
					grid-template-rows: 1fr,
					grid-auto-rows: auto,
					gap: var(--global-spacing-6),
				),
				right-rail-advanced-main-right-rail: (
					padding: initial,
					gap: var(--global-spacing-5),
					display: contents,
				),
				right-rail-advanced-main-interior-item: (
					padding: initial,
					border-right: initial,
					gap: var(--global-spacing-5),
					display: contents,
				),
				right-rail-advanced-footer: (
					margin: var(--global-spacing-10) 0 var(--global-spacing-8) 0,
				),
				right-rail-advanced-main-interior-item-1: (
					grid-area: main-interior-item-1,
				),
				right-rail-advanced-main-interior-item-2: (
					grid-area: main-interior-item-2,
				),
				right-rail-advanced-main-right-rail-top: (
					grid-area: main-right-rail-top,
				),
				right-rail-advanced-main-right-rail-middle: (
					grid-area: main-right-rail-middle,
				),
				right-rail-advanced-main-right-rail-bottom: (
					grid-area: main-right-rail-bottom,
				),
				video-player: (
					components: (
						media-item: (
							width: 100%,
							margin: auto,
						),
					),
				),
				video-player-feature: (
					gap: 0,
					components: (
						media-item-fig-caption: (
							margin-bottom: var(--global-spacing-2),
							margin-left: var(--global-spacing-4),
							margin-right: var(--global-spacing-4),
							margin-top: var(--global-spacing-2),
						),
					),
				),
				video-player-feature-meta: (
					margin: auto,
					width: var(--content-scale-width),
					components: (
						heading: (
							font-size: var(--global-font-size-10),
							line-height: var(--global-line-height-5),
						),
						paragraph: (
							font-size: var(--global-font-size-3),
							line-height: var(--global-line-height-3),
						),
						stack: (
							gap: var(--global-spacing-3),
						),
					),
				),
				video-player-inline: (
					gap: var(--global-spacing-3),
					components: (
						heading: (
							font-size: var(--global-font-size-9),
							line-height: var(--global-line-height-5),
						),
						media-item: (
							width: 100%,
							margin: auto,
						),
						media-item-fig-caption: (
							margin-bottom: 0,
							margin-left: 0,
							margin-right: 0,
							margin-top: var(--global-spacing-2),
						),
						stack: (
							gap: 0,
						),
					),
				),
				video-player-inline-video: (
					gap: 0,
				),
			),
		),
		desktop: (
			blocks: (
				right-rail-navigation: (
					padding: 0 0 var(--global-spacing-8) 0,
				),
				right-rail-rail-container: (
					grid-template-columns: 2fr 1fr,
					gap: 0,
					grid-template-rows: initial,
				),
				right-rail-main-right-rail: (
					padding: 0 0 0 var(--global-spacing-6),
				),
				right-rail-main-interior-item: (
					border-right: 1px solid #dadada,
					padding: 0 var(--global-spacing-6) 0 0,
				),
				right-rail-advanced-navigation: (
					padding: 0 0 var(--global-spacing-8) 0,
				),
				right-rail-advanced-rail-container: (
					grid-template-columns: 2fr 1fr,
					gap: 0,
					grid-template-rows: initial,
				),
				right-rail-advanced-main-right-rail: (
					padding: 0 0 0 var(--global-spacing-6),
					display: flex,
				),
				right-rail-advanced-main-interior-item: (
					border-right: 1px solid #dadada,
					padding: 0 var(--global-spacing-6) 0 0,
					display: flex,
				),
				video-player-feature-meta: (
					components: (
						heading: (
							font-size: var(--global-font-size-13),
							line-height: var(--global-line-height-8),
						),
						paragraph: (
							font-size: var(--global-font-size-4),
							line-height: var(--global-line-height-4),
						),
					),
				),
				video-player-inline: (
					components: (
						heading: (
							font-size: var(--global-font-size-13),
							line-height: var(--global-line-height-8),
						),
					),
				),
			),
		),
	)
);

@use "../../blocks/right-rail-block";
@use "../../blocks/right-rail-advanced-block";
