@use "@wpmedia/arc-themes-components/scss" with (
	$breakpoints: (
		default: "min-width: 0",
		desktop: "min-width: 48rem",
	),
	$global: (
		"spacing-1": 0.25rem,
		// 4px
		"spacing-2": 0.5rem,
		// 8px
		"spacing-3": 0.75rem,
		// 12px
		"spacing-4": 1rem,
		// 16px
		"spacing-5": 1.5rem,
		// 24px
		"spacing-6": 2rem,
		// 32px
		"spacing-7": 2.5rem,
		// 40px
		"spacing-8": 3rem,
		// 48px
		"spacing-9": 3.5rem,
		// 56px
		"spacing-10": 4rem,
		// 64px
		"spacing-11": 4.5rem,
		// 72px
		"spacing-12": 5rem,
		// 80px
		"spacing-13": 5.5rem,
		// 88px
		"spacing-14": 6rem,
		// 96px
		"spacing-15": 6.5rem,
		// 104px
		"spacing-16": 7rem,
		// 112px
		"spacing-17": 7.5rem,
	),
	$alias: (
		// Layout
		"layout-max-width": 1440,
		"content-max-width": 1216,
		"content-scale-width":
			min(
				calc(100vw - var(--global-spacing-6)),
				calc(var(--content-max-width) / var(--layout-max-width) * 100%)
			),
	),
	$tokens: (
		default: (
			blocks: (
				right-rail: (
					gap: var(--global-spacing-6),
				),
				right-rail-header: (
					position: sticky,
					top: 0,
					width: 100%,
					z-index: 9,
					margin: 0 0 var(--global-spacing-5) 0,
				),
				right-rail-main-item: (
					margin: 0 0 var(--global-spacing-5) 0,
				),
				right-rail-main: (
					gap: var(--global-spacing-6),
					max-width: var(--content-scale-width),
					width: 100%,
					margin: auto,
				),
				right-rail-extra-main-item: (
					margin: var(--global-spacing-6) 0 0 0,
				),
				right-rail-rail-container: (
					grid-template-columns: initial,
					grid-template-rows: 1fr,
					gap: var(--global-spacing-6),
				),
				right-rail-main-side-rail: (
					padding: initial,
				),
				right-rail-main-interior-item: (
					padding: initial,
					border-right: initial,
				),
				right-rail-footer: (
					margin: var(--global-spacing-10) 0 var(--global-spacing-8) 0,
				),
			),
		),
		desktop: (
			blocks: (
				right-rail-header: (
					padding: 0 0 var(--global-spacing-8) 0,
				),
				right-rail-rail-container: (
					grid-template-columns: 2fr 1fr,
					gap: initial,
					grid-template-rows: initial,
				),
				right-rail-main-side-rail: (
					padding: 0 0 0 var(--global-spacing-6),
				),
				right-rail-main-interior-item: (
					border-right: 1px solid #dadada,
					padding: 0 var(--global-spacing-6) 0 0,
				),
			),
		),
	)
);

@use "../../blocks/right-rail-block";
