@use "@wpmedia/arc-themes-components/scss" with (
	$breakpoints: (
		default: "min-width: 0",
		desktop: "min-width: 48rem",
	),
	$global: (
		"spacing-1": 0.25rem,
		// 4px
		"spacing-2": 0.5rem,
		// 8px
		"spacing-3": 0.75rem,
		// 12px
		"spacing-4": 1rem,
		// 16px
		"spacing-5": 1.5rem,
		// 24px
		"spacing-6": 2rem,
		// 32px
		"spacing-7": 2.5rem,
		// 40px
		"spacing-8": 3rem,
		// 48px
		"spacing-9": 3.5rem,
		// 56px
		"spacing-10": 4rem,
		// 64px
		"spacing-11": 4.5rem,
		// 72px
		"spacing-12": 5rem,
		// 80px
		"spacing-13": 5.5rem,
		// 88px
		"spacing-14": 6rem,
		// 96px
		"spacing-15": 6.5rem,
		// 104px
		"spacing-16": 7rem,
		// 112px
		"spacing-17": 7.5rem,
	),
	$tokens: (
		default: (
			blocks: (
				right-rail: (
					gap: var(--global-spacing-6),
				),
				right-rail-header: (
					position: sticky,
					top: 0,
					width: 100%,
					z-index: 9,
				),
				right-rail-main: (
					gap: var(--global-spacing-6),
					flex-grow: 1,
					transition: padding-top 0.3s linear,
					margin: 0 5% 0 5%,
				),
				right-rail-extra-main-item: (
					margin: 0 0 var(--global-spacing-6) 0,
				),
				right-rail-rail-container: (
					display: flex,
					flex-direction: column,
					gap: var(--global-spacing-6),
				),
				right-rail-main-side-rail: (
					flex: initial,
					padding: initial,
				),
				right-rail-main-interior-item: (
					flex: initial,
					padding: initial,
					border-right: initial,
				),
			),
		),
		desktop: (
			blocks: (
				right-rail-rail-container: (
					flex-direction: row,
					gap: 0,
				),
				right-rail-main-side-rail: (
					padding: 0 0 0 var(--global-spacing-6),
					flex: 1,
				),
				right-rail-main-interior-item: (
					border-right: 1px solid #dadada,
					flex: 2,
					padding: 0 var(--global-spacing-6) var(--global-spacing-5) 0,
				),
			),
		),
	)
);

@use "../../blocks/right-rail-block";
