.search-container {
  border-bottom: 1px solid #b8c1cb;
  margin-bottom: 20px;
  padding-bottom: 30px;
  text-align: center;

  > div {
    display: flex;
  }
}

.search-bar {
  background-color: #fff;
  border: 1px solid #575757;
  border-radius: 2px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  flex: 1;
  font-size: calculateRem(16px);
  height: 48px;
  padding-left: 47px;
}

.search-icon-container {
  margin-left: 12px;
  margin-top: 12px;
  position: absolute;
  z-index: 5;
}

.btn {
  border: 1px solid #575757;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 48px;
  margin-left: -0.2%;
}

.search-results-text {
  color: #191919;
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
}
