.xpmedia-forgot-password-headline {
	font-size: var(--body-font-size);
	line-height: var(--heading-level-4-line-height);
	font-weight: 600;
	padding-bottom: var(--global-spacing-4);
	margin-bottom: var(--global-spacing-4);
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;

	@media (min-width: 48rem) {
		font-size: var(--heading-level-1-font-size);
		line-height: var(--heading-level-1-line-height);
	}
}

.xpmedia-forgot-password-instruction {
	padding-bottom: var(--global-spacing-4);
	margin-bottom: var(--global-spacing-4);
	text-align: center;
	width: 100%;
}

.xpmedia-form-field {
	@media (min-width: 48rem) {
		font-size: var(--heading-level-6-font-size);
	}
}
