.xpmedia-forgot-password-headline {
	font-size: var(--heading-level-4-font-size);
	line-height: 2rem;
	font-weight: 600;
	margin: 0;
	padding: 0;

	@media (min-width: 48rem) {
		font-size: var(--heading-level-1-font-size);
		line-height: 2.5rem;
	}
}

.xpmedia-forgot-password-headline,
.xpmedia-forgot-password-instruction {
	padding-bottom: var(--global-spacing-4);
	margin-bottom: var(--global-spacing-4);
	text-align: center;
	width: 100%;
}
