.overline {
	color: #191919;
	display: inline-block;
	font-size: calculateRem(20px);
	font-weight: bold;
	line-height: calculateRem(24px);
	padding-bottom: 0.5rem;
	text-decoration: none;

	&--link {
		transition: #191919 0.3s ease;

		&:active,
		&:hover {
			color: lighten(#191919, 40%);
		}
	}
}
