.overline {
  color: #191919;
  display: inline-block;
  font-size: calculateRem(20px);
  font-weight: bold;
  line-height: calculateRem(24px);
  padding-bottom: map-get($spacers, 'sm');
  text-decoration: none;

  &--link {
    @include link-color-active-hover(#191919);
  }
}
