.xpmedia-subscriptions-cart {
	margin-top: var(--global-spacing-6);

	&-title {
		margin-bottom: var(--global-spacing-5);
	}
}

.xpmedia-subscriptions-cart-items {
	border: 1px solid var(--global-neutral-2);
	padding: var(--global-spacing-2);

	> * + * {
		border-top: 1px solid var(--global-neutral-2);
	}
}

.xpmedia-subscriptions-cart-item {
	color: $ui-medium-gray;
	font-size: var(--body-font-size);
	margin: 0 var(--global-spacing-1);
	padding: var(--global-spacing-1) 0;

	&--name {
		font-size: var(--heading-level-5-font-size);
		font-weight: bold;
	}

	&--info {
		font-size: var(--body-font-size-tiny);
	}
}
