.xpmedia-subscriptions-cart {
	margin-top: 2rem;

	&-title {
		margin-bottom: 1.5rem;
	}
}

.xpmedia-subscriptions-cart-items {
	border: 1px solid $border-rule-color;
	padding: 0.5rem;

	> * + * {
		border-top: 1px solid $border-rule-color;
	}
}

.xpmedia-subscriptions-cart-item {
	color: $ui-medium-gray;
	font-size: calculateRem(16px);
	margin: 0 0.25rem;
	padding: 0.25rem 0;

	&--name {
		font-size: calculateRem(20px);
		font-weight: bold;
	}

	&--info {
		font-size: calculateRem(12px);
	}
}
