.xpmedia-subscription-overlay {
	background-color: rgba(0, 0, 0, 0.63);
	bottom: 0;
	left: 0;
	overflow: auto;
	pointer-events: all;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	z-index: 1;

	.xpmedia-subscription-overlay-content {
		align-items: center;
		background-color: var(--background-color);
		display: flex;
		flex-direction: column;
		margin-top: 50vh;
		max-height: 75vh;
		min-height: 50vh;
		overflow: auto;

		.xpmedia-subscription-dialog {
			width: 100%;
			max-width: 80vw;
		}
	}
}
