.social-field--disconnect-link {
  background: none;
  border: 0;
  padding: 0;
  font-size: calculateRem(16px);
  line-height: 1.5;
  cursor: pointer;
  text-decoration: underline;
}

.social-field--connected-label-text {
  line-height: 1.5;
  font-size: calculateRem(16px);
}
