.xpmedia-subs-header {
  display: flex;
}

// hide a tag links button for mobile
.xpmedia-subs-header--desktop-header {
  display: flex;
  // uses a tags
  > a {
    // should be 16px between buttons
    margin: calculateRem(8px);
  }

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    display: none;
  }
}

.xpmedia-subs-header--desktop-header {
  button svg {
    margin: 0 0.25em 0 0.5em;
  }
}

.xpmedia-subs-header--mobile-header {
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    display: none;
  }
}

.xpmedia-subs-header-dropdown--open {
  top: calc(100%);
  position: absolute;
  padding: calculateRem(16px);
  background-color: #fff;
  border: calculateRem(1px) solid #dadada;
  border-radius: calculateRem(4px);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

// this is dependent upon the classnames of the parent navs in the header-nav-chain
// if parent is nav-right, then the dropdown should be right aligned
.nav-right .xpmedia-subs-header-dropdown--open {
  right: calculateRem(16px);
}

// if parent is nav-left, then the dropdown should be left aligned
.nav-left .xpmedia-subs-header-dropdown--open {
  left: calculateRem(16px);
}

.xpmedia-subs-header-dropdown-list-item {
  padding-bottom: calculateRem(8px);
}

.xpmedia-subs-header-dropdown-list-item:last-of-type {
  padding-bottom: 0;
}
