.xpmedia-subs-header {
  align-items: center;
  color: #fff;
  font-size: 0.875rem;

  &--button {
    align-items: center;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px !important;
    color: #fff;
    font-weight: bold;
    height: 2rem;
    padding: 0 0.5rem;
    text-decoration: none;

    &:hover {
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .account-button {
    background-color: #fff;
    transition: 500ms;

    .account-text {
      padding: 0 8px;
    }

    &:hover {
      filter: brightness(0.85);
      cursor: default;
    }

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      right: 16px;
      position: absolute;
      margin-left: 16px;

      .account-text {
        display: none;
      }

      .submenu-caret {
        display: none;
      }
    }
  }

  .account-menu {
    display: inline;
    position: absolute;
    width: 211px;
    height: 88px;
    top: 50px;
    right: 20px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #dadada;
    background-color: #fff;

    .menu-item {
      width: 179px;
      margin: 0 0 8px;
      font-size: 0.875rem;
      line-height: 1.5;
      text-align: left;

      &-link {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          cursor: default;
        }
      }
    }

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      right: 16px;
    }
  }
}
