.xpmedia-subs-header {
  display: flex;
}

.xpmedia-subs-header--logged-out-header {
  display: flex;
}

// hide a tag links button for mobile
.xpmedia-subs-header--desktop-logged-out-header {
  // uses a tags
  > a {
    // should be 16px between buttons
    margin: calculateRem(8px);
  }

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    display: none;
  }
}

.xpmedia-subs-header--mobile-logged-out-header {
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    display: none;
  }
}
