@use "@wpmedia/arc-themes-components/scss";

.b-header-nav-chain {
	@include scss.block-components("header-nav-chain");
	@include scss.block-properties("header-nav-chain");

	&__logo {
		img {
			@include scss.block-components("header-nav-chain-logo-image");
			@include scss.block-properties("header-nav-chain-logo-image");
		}

		@include scss.block-components("header-nav-chain-logo");
		@include scss.block-properties("header-nav-chain-logo");
	}

	&__links-list {
		@include scss.block-components("header-nav-chain-links-list");
		@include scss.block-properties("header-nav-chain-links-list");
	}

	&__flyout-overlay {
		&::-webkit-scrollbar {
			display: none;
		}

		&.open {
			@include scss.block-components("header-nav-chain-flyout-overlay-open");
			@include scss.block-properties("header-nav-chain-flyout-overlay-open");
		}

		&.closed {
			.section-menu {
				transition: height 100ms ease-in-out 600ms;
			}

			@include scss.block-components("header-nav-chain-flyout-overlay-closed");
			@include scss.block-properties("header-nav-chain-flyout-overlay-closed");
		}

		@include scss.block-components("header-nav-chain-flyout-overlay");
		@include scss.block-properties("header-nav-chain-flyout-overlay");
	}

	&__flyout-nav-wrapper {
		.nav-menu {
			.nav-widget {
				.nav-search {
					justify-content: flex-start;

					input {
						flex: 1;
					}

					&.open {
						input {
							height: 48px;
						}

						&.dark {
							border: 0;
						}
					}
				}
			}

			& > .nav-components {
				&--mobile,
				&--desktop {
					& > .nav-widget {
						margin-top: 16px;
						padding: 0 20px;
					}
				}

				&--mobile {
					display: none;
				}

				&--desktop {
					display: inherit;
				}

				@media screen and (max-width: 48rem) {
					&--desktop {
						display: none;
					}

					&--mobile {
						display: inherit;
					}
				}
			}
		}

		&.open {
			@include scss.block-components("header-nav-chain-flyout-nav-wrapper-open");
			@include scss.block-properties("header-nav-chain-flyout-nav-wrapper-open");
		}

		&.closed {
			@include scss.block-components("header-nav-chain-flyout-nav-wrapper-closed");
			@include scss.block-properties("header-nav-chain-flyout-nav-wrapper-closed");
		}

		@include scss.block-components("header-nav-chain-flyout-nav-wrapper");
		@include scss.block-properties("header-nav-chain-flyout-nav-wrapper");
	}

	&__flyout-nav {
		> li {
			//> a {
			//padding-top: 0;
			//padding-right: 16px;
			//padding-left: 20px;
			//padding-bottom: 0;
			//}
			//
			//.subsection-anchor a,
			//> a {
			//align-items: center;
			//color: #fff;
			//display: block;
			//font-size: 16px;
			//justify-content: space-between;
			//line-height: 40px;
			//text-decoration: none;
			//}

			&:hover,
			&:active {
				background: #575757;
			}
		}

		@include scss.block-components("header-nav-chain-flyout-nav");
		@include scss.block-properties("header-nav-chain-flyout-nav");
	}

	.subsection-anchor {
		align-content: center;
		cursor: pointer;
		justify-content: space-between;
		line-height: 40px;
		padding-right: 16px;
		padding-left: 20px;

		a {
			padding: 0;
		}

		&.open {
			svg {
				transform: rotate(-180deg);
			}

			path {
				fill: #fff;
			}
		}

		&:hover {
			path {
				fill: #fff;
			}
		}
	}

	.submenu-caret {
		align-self: center;
		appearance: none;
		background: transparent;
		border: 0;
		display: flex;

		path {
			fill: #ffffff;
		}
	}

	.subsection-container {
		display: none;
		flex-direction: column;
		position: relative;

		&.open {
			display: flex;
		}
	}

	@media screen and (max-width: 48rem) {
		.subsection-container {
			display: none;
		}
	}

	.subsection-menu {
		background: #fff;
		list-style: none;
		margin: 0;
		padding: 4px 0;

		> li {
			> a {
				color: #575757;
				display: block;
				font-size: 16px;
				font-weight: bold;
				line-height: 24px;
				padding: 8px 16px 8px 20px;
				text-decoration: none;

				&:hover {
					background-color: #dadada;
				}
			}
		}
	}
}
