@use 'sass:map';

//
// Used to set the nest components CSS Variable overrides at the block level
// When a block has components nested within, and those components has
// different styles to the default component styles they are overridden
// use CSS Variables
//
// --c-date-font-weight: 900
//
@mixin block-components($blockName) {
  @each $name, $value in map.get($block, $blockName, 'components') {
    @if type-of($value) == map {
      @each $a, $b in $value {
        --c-#{$name}-#{$a}: #{$b};
      }
    }
  }
}

//
// Ouput all the blocks properties in the format
// CSSProperty: CSSVariable
// background-color: var(--b-list-background-color);
//
@mixin block-properties($blockName, $others...) {
  @each $name, $value in map.get($block, $blockName, $others...) {
    @if type-of($value) != map {
      #{$name}: #{$value};
    }
  }
}

//
// Output all the component values in format
// CSSProperty: CSSVariable
// background-color: var(--c-overline-background-color);
//
@mixin component-properties($component) {
  @each $name, $value in map.get($components, $component) {
    #{$name}: component-var($component, $name);
  }
}

//
// Return the CSS Variable for a component item
//
@function component-var($component, $item) {
  @return var(--c-#{$component}-#{$item});
}

//
// Return the CSS Variable for a block item
//
@function block-var($block, $item) {
  @return var(--c-#{$block}-#{$item});
}

//
// Setters
//
@mixin set-alias($items) {
  $default-alias: $alias;
  $alias: map.deep-merge($default-alias, $items) !global;
}

@mixin set-components($items) {
  $default-components: $components;
  $components: map.deep-merge($default-components, $items) !global;
}
