.xpmedia-button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	cursor: pointer;

	// if a tag, then hide decoration
	text-decoration: none;

	// override nav header
	border-radius: 4px !important;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;

	// border color managed in styled component
	border-style: solid;
	border-width: 1px;

	&:hover {
		// darkens all nested elements on hover
		// see css filter docs https://developer.mozilla.org/en-US/docs/Web/CSS/filter
		filter: brightness(0.85);
	}
}

.xpmedia-button--full-width {
	width: 100%;
}

.xpmedia-button--left-icon-container {
	display: flex;
	padding-right: 8px;
}

.xpmedia-button--right-icon-container {
	display: flex;
	padding-left: 8px;
}

.xpmedia-button--small {
	padding: 8px;
	// 2 rem
	height: 32px;
}

.xpmedia-button--medium {
	padding: 12px;
	// 3 rem
	height: 48px;
}

.xpmedia-button--large {
	padding: 16px;
	// 3.5 rem
	height: 56px;
}
