.xpmedia-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  // if a tag, then hide decoration
  text-decoration: none;

  // override nav header
  border-radius: calculateRem(4px) !important;
  font-size: calculateRem(14px);
  font-weight: bold;
  line-height: 1.5;

  // border color managed in styled component
  border-style: solid;
  border-width: calculateRem(1px);

  &:hover {
    // darkens all nested elements on hover
    // see css filter docs https://developer.mozilla.org/en-US/docs/Web/CSS/filter
    filter: brightness(0.85);
  }
}

.xpmedia-button--full-width {
  width: 100%;
}

.xpmedia-button--left-icon-container {
  display: flex;
  padding-right: calculateRem(8px);
}

.xpmedia-button--right-icon-container {
  display: flex;
  padding-left: calculateRem(8px);
}

.xpmedia-button--small {
  padding: calculateRem(8px);
  // 2 rem
  height: calculateRem(32px);
}

.xpmedia-button--medium {
  padding: calculateRem(12px);
  // 3 rem
  height: calculateRem(48px);
}

.xpmedia-button--large {
  padding: calculateRem(16px);
  // 3.5 rem
  height: calculateRem(56px);
}
