.xpmedia-button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	cursor: pointer;

	// if a tag, then hide decoration
	text-decoration: none;

	// override nav header
	border-radius: var(--border-radius) !important;
	font-size: var(--body-font-size-small);
	font-weight: bold;
	line-height: var(--body-line-height);

	// border color managed in styled component
	border-style: solid;
	border-width: 1px;

	&:hover {
		// darkens all nested elements on hover
		// see css filter docs https://developer.mozilla.org/en-US/docs/Web/CSS/filter
		filter: brightness(0.85);
	}
}

.xpmedia-button--full-width {
	width: 100%;
}

.xpmedia-button--left-icon-container {
	display: flex;
	padding-right: var(--global-spacing-2);
}

.xpmedia-button--right-icon-container {
	display: flex;
	padding-left: var(--global-spacing-2);
}

.xpmedia-button--small {
	padding: var(--global-spacing-2);
	// 2 rem
	height: 32px;
}

.xpmedia-button--medium {
	padding: var(--global-spacing-3);
	// 3 rem
	height: 48px;
}

.xpmedia-button--large {
	padding: var(--global-spacing-4);
	// 3.5 rem
	height: 56px;
}
