@use "@wpmedia/arc-themes-components/scss";

.b-checkout {
	&__cart {
		@include scss.block-components("checkout-cart");
		@include scss.block-properties("checkout-cart");
	}

	&__cart-items {
		@include scss.block-components("checkout-cart-items");
		@include scss.block-properties("checkout-cart-items");
	}

	&__cart-item {
		@include scss.block-components("checkout-cart-item");
		@include scss.block-properties("checkout-cart-item");

		&--name {
			@include scss.block-components("checkout-cart-item--name");
			@include scss.block-properties("checkout-cart-item--name");
		}

		&--info {
			@include scss.block-components("checkout-cart-item--info");
			@include scss.block-properties("checkout-cart-item--info");
		}
	}

	&__contact-info {
		@include scss.block-components("checkout-contact-info");
		@include scss.block-properties("checkout-contact-info");

		&-profile {
			@include scss.block-components("checkout-contact-info-profile");
			@include scss.block-properties("checkout-contact-info-profile");
		}
	}

	&__identity-row {
		@include scss.block-components("checkout-identity-row");
		@include scss.block-properties("checkout-identity-row");
	}

	&__identity-icon {
		@include scss.block-components("checkout-identity-icon");
		@include scss.block-properties("checkout-identity-icon");
	}

	&__payment {
		@include scss.block-components("checkout-payment");
		@include scss.block-properties("checkout-payment");

		&-info {
			@include scss.block-compoents("checkout-payment-info");
			@include scss.block-properties("checkout-payment-info");
		}

		&-form {
			@include scss.block-components("checkout-payment-form");
			@include scss.block-properties("checkout-payment-form");

			&--stripe-input-container {
				@include scss.block-components("checkout-payment-form--stripe-input-container");
				@include scss.block-properties("checkout-payment-form--stripe-input-container");
			}

			&--stripe-label {
				@include scss.block-components("checkout-payment-form--stripe-label");
				@include scss.block-properties("checkout-payment-form--stripe-label");
			}

			&--stripe-element {
				@include scss.block-components("checkout-payment-form--stripe-element");
				@include scss.block-properties("checkout-payment-form--stripe-element");
			}

			&--stripe-cardDetails {
				@include scss.block-components("checkout-payment-form--stripe-cardDetails");
				@include scss.block-properties("checkout-payment-form--stripe-cardDetails");
			}

			&--stripe-countryDetails {
				@include scss.block-components("checkout-payment-form--stripe-countryDetails");
				@include scss.block-properties("checkout-payment-form--stripe-countryDetails");
			}

			&--stripe-row {
				@include scss.block-components("checkout-payment-form--stripe-row");
				@include scss.block-properties("checkout-payment-form--stripe-row");
			}

			&--border-bottom {
				@include scss.block-components("checkout-payment-form--border-bottom");
				@include scss.block-properties("checkout-payment-form--border-bottom");
			}

			&--border-right {
				@include scss.block-components("checkout-payment-form--border-right");
				@include scss.block-properties("checkout-payment-form--border-right");
			}
		}

		&-information {
			@include scss.block-components("checkout-payment-information");
			@include scss.block-properties("checkout-payment-information");
		}
	}

	&__test {
		@include scss.block-components("checkout-payment-test");
		@include scss.block-properties("checkout-payment-test");

		&-1 {
			@include scss.block-components("checkout-payment-test-1");
			@include scss.block-properties("checkout-payment-test-1");
		}

		&-2 {
			@include scss.block-components("checkout-payment-test-2");
			@include scss.block-properties("checkout-payment-test-2");
		}

		&-row {
			@include scss.block-components("checkout-payment-test-row");
			@include scss.block-properties("checkout-payment-test-row");
		}
	}

	@include scss.block-components("checkout");
	@include scss.block-properties("checkout");
}

.b-offer {
	&__headings {
		@include scss.block-components("offer-headings");
		@include scss.block-properties("offer-headings");
	}

	&__title {
		@include scss.block-components("offer-title");
		@include scss.block-properties("offer-title");
	}

	&__subtitle {
		@include scss.block-components("offer-subtitle");
		@include scss.block-properties("offer-subtitle");
	}

	&__wrapper {
		@include scss.block-components("offer-wrapper");
		@include scss.block-properties("offer-wrapper");
	}

	&__children-grid {
		@include scss.block-components("offer-children-grid");
		@include scss.block-properties("offer-children-grid");
	}

	&__grid-list {
		@include scss.block-components("offer-grid-list");
		@include scss.block-properties("offer-grid-list");

		&--1 {
			@include scss.block-components("offer-grid-list-1");
			@include scss.block-properties("offer-grid-list-1");
		}

		&--2 {
			@include scss.block-components("offer-grid-list-2");
			@include scss.block-properties("offer-grid-list-2");
		}

		&--3 {
			@include scss.block-components("offer-grid-list-3");
			@include scss.block-properties("offer-grid-list-3");
		}

		&--4 {
			@include scss.block-components("offer-grid-list-4");
			@include scss.block-properties("offer-grid-list-4");
		}

		&--5 {
			@include scss.block-components("offer-grid-list-5");
			@include scss.block-properties("offer-grid-list-5");

			> * {
				@include scss.block-components("offer-grid-list-5-children");
				@include scss.block-properties("offer-grid-list-5-children");
			}
		}
	}

	&__card {
		@include scss.block-components("offer-card");
		@include scss.block-properties("offer-card");
	}

	&__card--features {
		@include scss.block-components("offer-card-features");
		@include scss.block-properties("offer-card-features");
	}

	&__card--features--feature-item {
		@include scss.block-components("offer-card-features--feature-item");
		@include scss.block-properties("offer-card-features--feature-item");
	}

	@include scss.block-components("offer");
	@include scss.block-properties("offer");
}

.b-paywall {
	&__overlay {
		&-content {
			@include scss.block-components("paywall-overlay-content");
			@include scss.block-properties("paywall-overlay-content");
		}

		@include scss.block-components("paywall-overlay");
		@include scss.block-properties("paywall-overlay");
	}

	&__subscription-dialog {
		&-link-prompt {
			@include scss.block-components("paywall-subscription-dialog-reason-prompt");
			@include scss.block-properties("paywall-subscription-dialog-reason-prompt");

			&-pre-link {
				@include scss.block-components("paywall-subscription-dialog-link-prompt-pre-link");
				@include scss.block-properties("paywall-subscription-dialog-link-prompt-pre-link");
			}

			&-link {
				@include scss.block-components("paywall-subscription-dialog-link-prompt-link");
				@include scss.block-properties("paywall-subscription-dialog-link-prompt-link");
			}
		}

		&-offer-info{
			@include scss.block-components("paywall-subscription-dialog-offer-info");
			@include scss.block-properties("paywall-subscription-dialog-offer-info");
		}

		&-subheadline{
			@include scss.block-components("paywall-subscription-dialog-subheadline");
			@include scss.block-properties("paywall-subscription-dialog-subheadline");
		}

		@include scss.block-components("paywall-subscription-dialog");
		@include scss.block-properties("paywall-subscription-dialog");
	}
}
