// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans
$white: #ffffff;
$black: #000000;
$light-blue: #F4F7FB;
$dark-blue: #1955A5;
$gray: gray;
$medium-grey:#B8C1CB;
$light-gray: #F9F9F9;
$black-70: rgba(0, 0, 0, 0.7);
