.xpmedia-paywall {
  background: white;
  bottom: 0;
  box-shadow: 0px -20px 49px 122vh rgba(132, 132, 132, .7);
  display: flex;
  height: 50vh;
  justify-content: center;
  left: 0;
  margin: 0;
  padding: 4rem 10% 4rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 101;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    height: 60vh;
  }

  &-container {
    max-width: 90vw;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      max-width: 60vw;
    }
  }

  &--header {
    > a {
      text-decoration: none;
      color: $ui-medium-gray;
      font-weight: bold;
    }

    > a:hover {
      text-decoration: underline;
    }

    color: $ui-medium-gray;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      font-size: .875rem;
      line-height: 1rem;
    }
  }

  &--title {
    font-family: serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    margin-bottom: 1rem;

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      font-size: 1.75rem;
      line-height: 2rem;
    }

    > p {
      font-weight: bold;
    }
  }

  &--subtitle {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  &--button {
    background: #183bb6;
    align-self: center;
    border-radius: 4px;
    color: white;
    width: 16rem;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
  }
}
