name: Test News Theme Blocks

on:
  pull_request:
    # synchronize	commit(s) pushed to the pull request
    types: [synchronize, opened]

jobs:
  ensure_minimum_test_coverage_linting:
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Node with 12
        uses: actions/setup-node@v1
        with:
          node-version: "12"
          registry-url: "https://npm.pkg.github.com"

      - name: Cache Node Modules
        id: cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Clean install (CI) dependencies if lockfile (above) changed
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

      # - name: Run tests with coverage
        # run: npm run test:coverage

      - name: Jest Annotations & Coverage
        uses: mattallty/jest-github-action@v1.0.3

      - name: Check linting
        run: npm run lint

      - name: Check failure status
        uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
        if: failure()
